@using FilaShop.Models
@model List<Cart>


@{ 

    //当前用户购物车的长度
    var cartcount = Model.Count();

    //用户所有的地址集合
    List<Address> addresslist = ViewBag.addresslist as List<Address>;
    // Response.Write(addresslist.Count());
    //省市区县表集合
    List<Area> arealist = ViewBag.areaParent as List<Area>;

    Userinfo userinfo = Session["user"] as Userinfo;
    //商品总价：
    decimal? goodsSum = 0;

    int? address_Id=0;

    //定义provinceid  省级id

    //编辑按钮传递的id值
    Address editAddress= ViewBag.editAddress as Address;

    //定义一个默认地址的id
    var morenaddressid = 0;

    //默认地址
    foreach (var item in addresslist)
    {
        if (item.Isdefault == true)
        {
            morenaddressid = item.Id;
        }
    }


    var province = ViewBag.province as List<Area>;
}
<!DOCTYPE HTML>
<html >
<head>
    <meta charset="utf-8" />
    <title>我的购物车</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="mobile-agent" content="format=[wml|xhtml|html5];url=http://www.fila.cn/m/cart.html">
    <link rel="alternate" media="only screen and (max-width:640px)" href="http://www.fila.cn/m/cart.html">
    <meta name="applicable-device" content="pc">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="keywords" content="斐乐,斐乐官方旗舰店,斐乐旗舰店,FILA官方商城,FILA官网，FILA,斐乐官网,FILA网上商城">
    <meta name="Description" content="访问斐乐(FILA)官网,了解最新的品牌资讯,成为会员,切身体验尊崇的购物旅程,尽在FILA中国官方网站Fila.cn">
    <link rel="icon" href="//www.fila.cn/favicon.ico" type="image/x-icon">
    <script language="javascript">
	        var u = navigator.userAgent;
	        if (u.indexOf('Android') > -1 || u.indexOf('Linux') > -1
	                        || u.indexOf('Windows Phone') > -1 || u.indexOf('iPhone') > -1
	                        || u.indexOf('iPad') > -1) {
	                        window.location.href ='http://www.fila.cn/m/cart.html';

	        }

    </script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="~/scripts/jquery-3.3.1.js"></script>
   
    <script src="~/scripts/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/scripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <!--site header common-->
    <!--[if lt IE 9]>
    <script src="Scripts/html5fix.js" type="text/javascript" charset="utf-8"></script>
    <![endif]-->
    <link rel="stylesheet" href="~/Content/30e30d00a7484a32be420342efb88932.css">
    <link rel="stylesheet" href="~/Content/carts/reset.css">
    <link rel="stylesheet" href="~/Content/carts/carts.css">
    <style type="text/css">
        .checkout-container .checkout-maddr .addr-default .add-new-mddr .btn-new-maddr {
            float: left !important;
        }

        .cart-container .cart-body .c-ci-title .col-xs-9 .text-warning .glyphicon-warning-sign {
            color: #e6002d;
        }
       .addressform{
           width:800px;
           height:600px;
           background-color:greenyellow;
           display:none;
       }
       .li01addborder{
          border:2px solid blue;
       }
       .oldliborder{
           border:1px solid gray;
       }
        .spanhidden {
            visibility:visible;
        }
        .morenhide{
            visibility:hidden;
        }
        .thirddiv{
            position:absolute;
            margin:0 auto;
            width:100%;
            height:100%;
            margin:0 auto;
            border:1px solid black;
            margin-top:-300px;
            margin-left:-30px;
            background-color:darkgray;
        }
        .thirddivdisplay{
            display:none;
        }
        .addUseraddressdiv{
            width:500px;
            height:150px;
            margin:0 auto;
            padding-top:50px;
            padding-left:30px;
            text-align:center;
        }
        .addressdiv02{
            height:150px;
            width:250px;
            
            padding:2px;
        }
        .receivemandiv01>div{
            float:left;
        }
        .clearfloat{
            width:0;
            height:0;
            float:none;
            clear:both;
        }
        .deleteaddress{
            text-decoration:none;
        }
        .select01{
            width:100px;
            height:30px;
            margin-left:5px;
            border:1px solid black;
            
        }
        .selecthide{
            visibility:hidden;
        }
        .selectshow {
            visibility:visible;
        }
        .select00{
            width:100px;
            height:30px;
            margin-left:5px;
            border:1px solid black;
        }
        .select02{
            width:100px;
            margin-left:5px;
            height:30px;
            border:1px solid black;
           
        }
        .showthisdiv{
            display:block;
        }
        .hidethisdiv{
            display:none;
        }
        .inputsubmit:hover{
            border:1px solid blue;
            background-color:white;
            color:blue;
        }
        .addresscolse:hover {
            border:1px solid blue;
            color:blue;
        }
        .submitbtn{
            margin-left:15px;
            width:60px;
            height:40px;
            border:1px solid black;
            background-color:grey;
        }
        .closebtn{
            margin-left:60%;
            width:60px;
            height:40px;
            border:1px solid black;
        }
        .divvis{
            visibility:hidden;
        }
        .adressbtnedit{
            width:118px; 
        }
       .address-form{
           margin:0 auto;
           width:60%;
           padding:15px;
           border:1px solid blue;
           margin-top:10%;
           background-color:white;
       }
       .cart-h1{
           color:white;
           font-size:20px;
           font-weight:bold;
       }
       .sumnumber{
           height:124px;
       }
       .goproductlist{
           height:80px;
           margin:0 auto;
       }
       .goproductlist>h2>a{
           text-decoration:none;

       }

       .second-address{
           margin:0 auto;
           
           width:1200px;
           
           margin-bottom:10px;
       }
        .bgcolor {
            color: white;
            font-weight: bold;
            background-color: mediumblue;
        }

        .backstr {
            color: white;
            font-weight: bold;
            background-color: dodgerblue;
        }

            .backstr a {
                color: white;
            }

        .pageSize {
            width: 50px;
            height: 35px;
            border: 1px solid #DDDDDD;
        }

        .nocanclick:hover {
            background-color: none;
        }

        .nocontent {
            color: red;
            font-size: 25px;
            text-align: center;
            margin-top: 100px;
        }
        .page-header{
            margin:0 auto;
        }
        .cart-h1{
            text-align:center;
            margin:0 auto;
            background-color:#03234C;
            color:white;
            padding-top:10px;
            padding-bottom:10px;
        }
       .address-content{
           width:80%;
           margin:0 auto;
           padding:10px;
       }
       
       .address-content-first-h3{
           color:black;
           padding-top:10px;
           padding-bottom:10px;
           border-bottom:2px solid #03234C;
       }
       
       .first-address{
           width:330px;
           height:200px;
          
       }
       .first-address-jiahao{
           padding-top:10px;
           width:330px;
           height:195px;
           
       }
       .first-address{
           padding:10px;
           font-size:14px;
       }
       .editbutton{
           width:120px;
           height:35px;
           border:1px solid black;
       }
       .editbutton:hover{
           border:1px solid blue;
           color:red;
           background-color:darkgray;
       }
       .deletebtn:hover{
           border:1px solid blue;
           color:red;
            background-color:darkgray;
       }
       .deletebtn{
           width:120px;
           height:35px;
           border:1px solid black;
       }
       .div-btn-01{
           margin-top:5px;
       }
       .address-content-second>div{
           float:left;
       }
       .clear-float{
           float:none;
           clear:both;
       }
       .first-address-content{
           width:290px;
           height:180px;
           border:1px gray solid;
           padding-left:10px;
           
       }
       .first-address-jiahao02{
           margin-left:10px;
           width:290px;
           height:180px;
           border:1px gray solid;
           padding-left:10px;
           padding-top:50px;
           text-align:center;
       }
       .addressman{
           padding-top:5px;
       }
       .redborder{
           border:2px red solid;
       }
       .shouthis{
           visibility:visible;
       }
       .hidethis{
           display:none;
       }
       .add-new-address{
           padding:20px;
           display:none;
           height:400px;
           border:1px solid blue;
           margin:0 auto;
       }
       .addnewaddrssform{

       }
       .checkout-container .checkout-maddr .addr-default .add-new-mddr .btn-new-maddr {
            float: left !important;
        }

        .cart-container .cart-body .c-ci-title .col-xs-9 .text-warning .glyphicon-warning-sign {
            color: #e6002d;
        }
       .addressform{
           width:800px;
           height:600px;
           background-color:greenyellow;
           display:none;
       }
       .li01addborder{
          border:2px solid blue;
       }
       .oldliborder{
           border:1px solid gray;
       }
        .spanhidden {
            visibility:visible;
        }
        .morenhide{
            visibility:hidden;
        }
        .thirddiv{
            position:absolute;
            margin:0 auto;
            width:100%;
            height:100%;
            margin:0 auto;
            border:1px solid black;
            margin-top:-300px;
            margin-left:-30px;
            background-color:darkgray;
        }
        .thirddivdisplay{
            display:none;
        }
        .addUseraddressdiv{
            width:500px;
            height:150px;
            margin:0 auto;
            padding-top:50px;
            padding-left:30px;
            text-align:center;
        }
        .addressdiv02{
            height:150px;
            width:250px;
            
            padding:2px;
        }
        .receivemandiv01>div{
            float:left;
        }
        .clearfloat{
            width:0;
            height:0;
            float:none;
            clear:both;
        }
        .deleteaddress{
            text-decoration:none;
        }
        .select01{
            width:100px;
            height:30px;
            margin-left:5px;
            border:1px solid black;
            
        }
        .selecthide{
            visibility:hidden;
        }
        .selectshow {
            visibility:visible;
        }
        .select00{
            width:100px;
            height:30px;
            margin-left:5px;
            border:1px solid black;
        }
        .select02{
            width:100px;
            margin-left:5px;
            height:30px;
            border:1px solid black;
           
        }
        .showthisdiv{
            display:block;
        }
        .hidethisdiv{
            display:none;
        }
        .inputsubmit:hover{
            border:1px solid blue;
            background-color:white;
            color:blue;
        }
        .addresscolse:hover {
            border:1px solid blue;
            color:blue;
        }
        .submitbtn{
            margin-left:15px;
            width:60px;
            height:40px;
            border:1px solid black;
            background-color:grey;
        }
        .closebtn{
            margin-left:60%;
            width:60px;
            height:40px;
            border:1px solid black;
        }
        .divvis{
            visibility:hidden;
        }
        .adressbtnedit{
            width:118px; 
        }
       .address-form{
           margin:0 auto;
           width:60%;
           padding:15px;
           border:1px solid #03234C;
           margin-top:10%;
           background-color:white;
       }
       .address-province,.address-shi,.address-qu{
           display:none;
           
       }
       .cart-list-top{

           border-top:2px solid #03234C;
       }
       .amount-goods{
           display:none;
       }
       .amount-goods2{
            display:none;
       }
       .plushidde{
            display:none;
       }
       .empty-is{
           margin-top:20%;
       }
       .empty-is>h3{
           margin-left:35%;
           color:red;
           font-size:30px;
       }
       .totalSecond{
           color:blue;
       }
       .totalsecond{
           color:blue;
       }
       .totalsecond1{
           font-size:18px;
           color:black;
       }
    </style>
   <script>
       $(function () {
          

       });
   </script>
</head>
<body>

    <!-- 公共部分 Header -->
    <header class="fila-header">
        <div class="logo">
            <a href="~/Product/List">
                <img src="~/Images/fila_blue_150.png" alt="">
            </a>
        </div>
        <div class="fila-navbar">
           <div class="navbar-search   divvis">
                <input id="key" class="text" type="text" autocomplete="off" name="keyword" value="@Request.QueryString["keyword"]">
                <button class="button" id="searchbtn01">搜索</button>
          </div>
            <ul class="navbar-list">

                <!-- 未登录 -->
                @if (userinfo != null)
                {
                    <li class="navbar-user ">
                        <a href="~/User/CommandCenter" target="_blank">
                            您好，
                            <span>@userinfo.Nickname</span>
                        </a>
                    </li>
                    <li class="navbar-logout ">
                        <a href="~/User/LoginOut" title="退出">退出</a>
                    </li>
                    <li class="navbar-cart dropdown">
                        <a class="dropdown-toggle" href="~/Cart/List" target="_blank">
                            <i class="icon icon-cart"></i>
                            <span class="cart-count " id="cart-count"> @ViewBag.cartcount</span>
                        </a>
                        <!--
                             <ul class="dropdown-menu mini-cart" style="display:none;">
                            </ul> -->
                    </li>

                }
                else
                {
                    <li class="navbar-login">
                        <a href="~/User/Login" target="_blank" title="登入">登入</a>
                    </li>
                    <li class="navbar-register">
                        <a href="~/User/Register" target="_blank" title="注册">注册</a>
                    </li>
                    <li class="navbar-cart dropdown">
                        <a class="dropdown-toggle" href="~/Cart/List" target="_blank">
                            <i class="icon icon-cart"></i>
                            <span class="cart-count hide" id="cart-count"> </span>
                        </a>
                        <!--
                             <ul class="dropdown-menu mini-cart" style="display:none;">
                            </ul> -->
                    </li>
                }


                <li class="navbar-country">
                    <a href="#" target="_blank">
                        <i class="icon icon-country"></i>
                    </a>
                </li>
            </ul>
        </div>
    </header>
     @if(Model.Count==0)
     {
         <div class="empty-is">
             <h3>购物车是空的,即将跳转到商品列表页面
             <br />
                 <span id="totalSecond" class="totalsecond">5</span><span class="totalsecond1">秒后跳转到商品订单列表页面</span>
             </h3>
             

             <script language="javascript" type="text/javascript">

                var second = document.getElementById('totalSecond').textContent;

                if (navigator.appName.indexOf("Explorer") > -1)  {
                    second = document.getElementById('totalSecond').innerText;
                } else {
                    second = document.getElementById('totalSecond').textContent;
                }

                setInterval("redirect()", 1000);
                function redirect() {
                    if (second < 0) {
                        //OrderDetail/Detail?Id=21
                        location.href = '/Product/List';
                } else {
                    if (navigator.appName.indexOf("Explorer") > -1) {
                        document.getElementById('totalSecond').innerText = second--;
                    } else {
                        document.getElementById('totalSecond').textContent = second--;
                    }
                }
                }
             </script>
         </div>
     }else
     {
     <div class="main">

        <div class="page-header  cart-title">
            <h1 class="cart-h1">
                购物车
            </h1>
        </div>
       
            @*订单地址开始*@
            <div class="address-content second-address">
                @*订单地址开始*@
                <div class="address-content-first">
                    <h3 class="address-content-first-h3">收货地址</h3>
                </div>
                <div class="address-content-second">
                    @foreach (var item in addresslist)
                    {
                        string redborder = "";//边框颜色
                        string hidethis = "";//隐藏
                        string shouthis = "";//显示
                        if (item.Isdefault == true)
                        {
                            morenaddressid = item.Id;
                            redborder = "redborder";
                            hidethis = "";
                            shouthis = "shouthis";
                        }
                        else
                        {
                            redborder = "";
                            hidethis = "hidethis";
                            shouthis = "";
                        }
                        <div class="first-address ">
                            <div class="first-address-content @redborder">

                                <input type="radio" style="display:none;" name="showaddressid" value="@item.Id" />
                                <p class="addressman">@item.ReceiverName</p><p class="addressphone">@item.Phone</p>
                                <hr />
                                <p class="addressqu"> @item.Area.Area2.Area2.Name @item.Area.Area2.Name  @item.Area.Name</p>
                                <p class="address-province">@item.Area.Area2.Area2.Id</p>
                                <p class="address-shi">@item.Area.Area2.Id</p>
                                <p class="address-qu">@item.AreaId</p>
                                <p class="addressdetail">@item.DetailAddress</p>

                                <span class="isdefault-address @hidethis "><img src="~/Images/check_true.png" width="15" height="15">默认收货地址</span>
                                <div class="div-btn-01 @hidethis ">
                                    <input type="button" class="editbutton" name="editbutton" value="编辑" />
                                    <input type="button" name="deletebtn" class="deletebtn" value="删除" />
                                    @* onclick="javascript:deletethis(@item.Id);"
                                onclick="javascript:editthis(@item.Id);"
                                    *@
                                </div>

                            </div>
                        </div>


                    }
                    <div class="first-address-jiahao">
                        <div class="first-address-jiahao02">
                            <a href="javascript:addNewAddress();">
                                <span class="iconfont icon-add"><img src="~/Images/orders/add_cart.png"></span><br />
                                使用新地址
                            </a>
                        </div>
                    </div>
                </div>
                <div class="clear-float"></div>
                <div class="add-new-address">
                    <form action="" method="get" id="addnewaddrssform" class="addnewaddrssform">
                        <div style="height:45px;border-bottom:1px solid gray;">
                            <h4>收货人地址信息管理&nbsp;&nbsp;<span class="receiveman01" style="font-weight:bold;"></span></h4>
                        </div>
                        <hr />
                        <div style="height:45px;margin-top:5px;display:none;">
                            <span>收货人id：</span><input style="width:250px;height:30px;border:1px solid black;" type="text" name="Id" class="aeditaddressid" id="addressid" value="" />
                        </div>

                        <div style="height:45px;margin-top:5px;">
                            <span>收货人姓名：</span><input style="width:250px;height:30px;border:1px solid black;" type="text" name="ReceiverName" class="receivemanname" id="receivemanname" value=""
                                                      placeholder="收货人姓名2-12位中文" />
                            <span id="receivemannamespan1"></span>
                        </div>

                        <div style="height:45px;margin-top:5px;">
                            <span>收货人电话：</span>
                            <input style="width:250px;height:30px;border:1px solid black;" type="text" name="Phone" class="receivemanphone" id="receivemanphone" value=""
                                   placeholder="收货人电话是11位手机号" /><span id="receivemanphonespan1"></span>
                        </div>
                        <div style="height:45px;margin-top:5px;">
                            <span>收货人地区：</span>
                            <select onchange="getNext(this); clearThree(this);" data-lever-index="0" id="select00" class="select00">
                                <option value="-1">请选择</option>
                                @foreach (var item in province)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>

                            <select onchange="getNext(this);" data-lever-index="1" class="select01 " style="visibility:hidden;">
                                <option value="-1">请选择</option>
                            </select>

                            <select name="AreaId" class="select02 " data-lever-index="2" id="select02" style="visibility:hidden;"></select><span id="receivemanAreaIdspan1"></span>
                        </div>

                        <div style="height:45px;margin-top:5px;">
                            <span>具体地址：&nbsp;</span><input style="width:400px;height:30px;border:1px solid black;" type="text" name="DetailAddress" class="addressdetail" id="addressdetail"
                                                           placeholder="具体地址" value="" />
                            <span id="receivemandetailspan1"></span>
                        </div>

                        <div style="height:60px;margin-top:5px; border-top:1px solid gray;padding-top:10px;">
                            <span>默认收货地址：</span>
                            <input type="checkbox" name="IsDefault" class="addressiddetail" id="addressiddetail" value="false" />

                            <input type="button" name="close" value="关闭" id="addresscolse" class="addresscolse closebtn" />
                            <input type="submit" class="inputsubmit submitbtn " name="submit" value="提交" />
                        </div>
                    </form>
                </div>

                @*订单地址结束*@
        </div>


       @*购物车中商品信息展示*@
        <section class="cartMain">
            <div class="cartMain_hd cart-list-top">
                <ul class="order_lists cartTop">
                    <li class="list_chk">
                        <!--所有商品全选-->
                        <input type="checkbox" id="all" class="whole_check">
                        <label for="all" class=""></label>
                        全选
                    </li>
                    <li class="list_con">商品信息</li>
                    <li class="list_info">商品参数</li>
                    <li class="list_price">单价</li>
                    <li class="list_amount">数量</li>
                    <li class="list_sum">金额</li>
                    <li class="list_op">操作</li>
                </ul>
            </div>

            <div class="cartBox" >
                <form action="~/Orders/Add" method="get"  id="formcart">
                    <div class="order_content">

                        @foreach (var item in Model)
                        {

                            <ul class="order_lists">
                                <li class="list_chk" style="padding-top:40px;">
                                    <input type="checkbox" id="checkbox_@item.Id" value="@item.Id" class="son_check">
                                    <label for="checkbox_@item.Id"></label>
                                </li>
                                <li class="list_con">
                                    <div class="list_img">
                                        <a href="javascript:;">
                                            <img src="~/Images/Product/@item.Goods.GoodsImage.FirstOrDefault().BigImage" style="width:70px;height:90px;" alt="">
                                        </a>
                                    </div>
                                    <div class="list_text" style="padding-top:40px;"><a href="~/Product/Detail?productid=@item.GoodsId">@item.Goods.Name</a></div>
                                </li>
                                <li class="list_info" style="padding-top:40px;">
                                    <p>颜色：@item.Goods.GoodsColor.Name</p>
                                    <p>尺寸：@item.Goods.GoodsSize.Name</p>
                                </li>
                                <li class="list_price" style="padding-top:40px;">
                                    <p class="price">￥@string.Format("{0:0.00}", item.Goods.NewPrice)</p>
                                </li>
                                <li class="list_amount" style="padding-top:40px;">
                                    <div class="amount_box">
                                        <input type="hidden" value="@item.GoodsId" name="Goodsid" disabled="disabled">
                                        <input type="hidden" value="@item.Id" name="Cartid" disabled="disabled">
                                        
                                        <a href="javascript:;" class="reduce reSty">-</a>
                                        <input type="text" value="@item.Number" name="Number" style="height:24px;" class="sum" disabled="disabled">
                                        <a href="javascript:;" class="plus ">+</a>
                                        <span class="amount-goods">@item.Goods.Amount</span>
                                        <span class="amount-goods2"></span>
                                    </div>
                                </li>
                                <li class="list_sum" style="padding-top:40px;">
                                    <p class="sum_price">￥@string.Format("{0:0.00}", item.Goods.NewPrice * item.Number)</p>
                                </li>
                                <li class="list_op" style="padding-top:40px;">
                                    <p class="del"><a href="javascript:" class="delBtn">移除商品</a></p>
                                </li>
                            </ul>
                        }
                    </div>



                    @*商品件数 和总价*@
                    <input type="hidden" name="addressid" value="@morenaddressid" class="formaddressid" />
                    <input type="hidden" name="textpiece_num" class="textpiece_num" value="" />
                    <input type="hidden" name="texttotal_text" class="texttotal_text" value="" />
                </form>

           </div>


   

    <!--底部-->
            <div class="bar-wrapper">
                <div class="bar-right">
                    <div class="piece">已选商品<strong class="piece_num">0</strong>件</div>
                    <div class="totalMoney">共计:￥ <strong class="total_text">0.00</strong></div>
                    <div class="calBtn">
                        <a href="javascript:getCheckedId();">结算</a>
                    </div>
            
               
             </div>
    </div>
    </section>
        
    <section class="model_bg"></section>
    <section class="my_model" style="height:140px;">
        <p class="title">删除宝贝<span class="closeModel">X</span></p>
        <p>您确认要删除该宝贝吗？</p>
        <div class="opBtn"><a href="javascript:;" class="dialog-sure">确定</a><a href="javascript:;" class="dialog-close">关闭</a></div>
    </section>

    <script src="~/scripts/carts/jquery.min.js"></script>
    <script src="~/scripts/carts/carts.js"></script>
    <div style="text-align:center;">
        <p></p>
    </div>
       
        </div>
     }
    <!-- 公共部分 Footer -->
    <script>
        var updateurl = '/Cart/Update/';//修改数量跳转页面
        var deleterul = '/Cart/delete/';//删除商品
        function getCheckedId() {
            
            //多选框被选中，larb标签添加mark属性
            var marklarb = $('.mark');
            var sumnumber = 0;
            if (marklarb.length > 0) {
                marklarb.each(function () {
                    // $('.mark').parent().find('input[name="Goodsid"]')
                    marklarb.parent().parent().find('input[name="Goodsid"]').removeAttr('disabled', 'disabled');
                    marklarb.parent().parent().find('input[name="Number"]').removeAttr('disabled', 'disabled');

                })
               
            }
            $('.textpiece_num').val($('.piece_num').html());
            $('.texttotal_text').val($('.total_text').html().substring(1));
            
            $('#formcart').submit();
        };
       
        $('.reduce').click(function () {
            $(this).next().next().show();
            //购物车编号
            var cartid = $(this).prev('input').val();
            //商品数量
            var goodnum = $(this).next('input').val();
           // $(this).next('input').val(parseInt(goodnum) - 1);
            //商品单价
            var price = $(this).parent().parent().prev().find('p[class="price"]').html();
            var pricethis = parseFloat(price.substring(1)).toFixed(2) * (goodnum - 1);
            if (goodnum>1) {
                $.post(updateurl, { 'cartid': cartid, 'stryunsuan': '-' }, function () { });
              //  $(this).parent().parent().next().find('p[class="sum_price"]').html(pricethis);
               
            } else {
                alert('商品数量不能少于1');
            }
            
        });
        //移除某件商品
        $('.delBtn').click(function () {
            var cartnowid = null;
            cartnowid = $(this).parent().parent().prev().prev().find('input[name="Cartid"]').val();
            $.post(deleterul, { 'id': cartnowid }, function () { });
        });

        $('.plus').click(function () {
            //商品单价
            var price = $(this).parent().parent().prev().find('p[class="price"]').html().substring(1);
            //商品数量
            var goodnum = $(this).prev('input').val();
            //商品数据库数量
            var amountgoods = $(this).next('span').html();
            //商品编号
            var goodsid = $(this).parent().find('input[name="Goodsid"]').val()

            // 获取到商品的库存数量
           // var amount = 0;
            //核实商品的的库存是否足够
            $.post('/Product/CheckGoodsAccount/', { 'goodsid': goodsid }, function (data) {
                var amount = parseInt(data);
                $('.amount-goods2').html(data);
            });
            

            //购物车编号
            var cartid = $(this).prev().prev().prev('input').val();
            //执行＋1后的商品数量
            var resultnum = parseInt(parseInt(goodnum) + 1);

            var amount = parseInt($('.amount-goods').html());
           // alert('amount=' + amount);
          //  alert(resultnum > amount);
            if(resultnum == amount) {
                //数量超过库存
                alert('购买数量不能超过库存数量');
              
                $(this).hide();//不可点击
                $.post(updateurl, { 'cartid': cartid, 'stryunsuan': '=' }, function () { });
               
            } else if (resultnum < amount) {
                //使用ajax修改数据库
                $.post(updateurl, { 'cartid': cartid, 'stryunsuan': '+' }, function () { });
            } else if (resultnum > amount) {
                //数量超过库存
                alert('购买数量不能超过库存数量');
                $(this).hide();//不可点击
            }
           
            //每行总价
           // $(this).parent().parent().next().find('p[class="sum_price"]').html(pricethis);
            
        });


        
       
       
    </script>

    

    <script type="text/javascript">
              //使用新增地址
              function addNewAddress(){
                  $('.add-new-address').show();
                  $('.receiveman01').html('新增').css('color', 'red');
                  $('.addnewaddrssform').attr('action', '/Cart/AddAddress');
                  $('.addnewaddrssform').find('input[type="text"]').val('');
                  $('.addnewaddrssform').find('input[type="text"]').next('span').html('');
                  $('.select00').val('-1');
                  //市级
                  $('.select01').css('visibility', 'hidden');
                  $('.select02').css('visibility', 'hidden');
              }

              //编辑按钮  --编辑地址  ,就是把当前选中的地址添加到  打开的编辑表单里
              $('.editbutton').click(function () {
                  $('.add-new-address').show();
                  $('.receiveman01').html('编辑').css('color', 'red');
                  $('.addnewaddrssform').attr('action', '/Cart/EditAddress');
                  var editaddressid = $(this).parent().parent().find('input[type="radio"]').val();
                  var editrecename = $(this).parent().parent().find('p[class="addressman"]').html();
                  var editrecephone = $(this).parent().parent().find('p[class="addressphone"]').html();

                  var editrecedetail = $(this).parent().parent().find('p[class="addressdetail"]').html();
                  var editreceprovince = $(this).parent().parent().find('p[class="address-province"]').html();
                  var editreceshi = $(this).parent().parent().find('p[class="address-shi"]').html();
                  var editrecequ = $(this).parent().parent().find('p[class="address-qu"]').html();



                  //编辑框id
                  $('.aeditaddressid').val(editaddressid);
                  //编辑框名字
                  $('.receivemanname').val(editrecename);
                  //编辑框电话
                  $('.receivemanphone').val(editrecephone);


                  $('select[data-lever-index]').css('visibility', 'visible');
                  //编辑框具体地址
                  $('.addressdetail').val(editrecedetail);
                  //省级

                  $('.select00').val(editreceprovince).change();
                  //市级
                  $('.select01').val(editreceshi).change();
                  $('.select02').val(editrecequ).change();


                  $('.addressiddetail').prop('checked', true).val('true');


              });


              //删除,没有实现同步，未能实现同步刷新
              $('.deletebtn').click(function () {
                  var addressid = $(this).parent().parent().find('input[type="radio"]').val();
                  $.post('/Address/Delete', { 'addressid': addressid }, function () {

                  });
                  $(this).parent().parent().parent('.first-address').remove();
                  $('.formaddressid').val('');
              })



              //关闭窗口
              $('#addresscolse').click(function () {
                  $('.add-new-address').hide();
              });

              //点击1个地址的div边框改变颜色，同时显示  默认地址  编辑和删除按钮
              $('.first-address-content').click(function () {
                  $('.first-address-content').css('border', '1px solid gray');
                  $('.div-btn-01').addClass('hidethis');
                  $('.isdefault-address ').addClass('hidethis');
                  //即时更改数据库状态
                 var addressid= $(this).find('input[type="radio"]').val();
                 $.post('/Address/Update', { 'addressid': addressid }, function () {
                 });
                 //$('.first-address-content').children().find('.div-btn-01')
                 $(this).css('border', '1px solid #03234C');
                 $(this).find('.div-btn-01').removeClass('hidethis');
                 $(this).find('.isdefault-address ').removeClass('hidethis');
                 $('.formaddressid').val(addressid);
              });


             

              //省市县三级联动，省级选项变动  绑定函数
              function getNext(obj) {
                  // var id=$(obj).val();
                  $.ajaxSettings.async = false;
                  $.post('/Cart/AreaList', { 'id': $(obj).val() }, function (data) {
                      $(obj).next().empty();//清空
                      $(data).each(function (i, e) {
                          var option = '<option value="' + e.Id + '">' + e.Name + '</option>';
                          $(obj).next().css('visibility', 'visible').append(option);
                      });
                  });
              };

              //清理第三级
              function clearThree(obj) {
                  $(obj).next().next().empty().css('visibility', 'hidden');
              }






              //修改地址表单的验证

              var receiveName = $('#receivemanname');//收件人名字
              var phone = $('#receivemanphone');//收件人电话
              var detailAddress = $('#addressdetail');//具体地址
              var select02 = $('#select02')//具体区县;

              var renamespan = $('#receivemannamespan1');//收货人提示框
              var rephone = $('#receivemanphonespan1');//收货人电话
              var rearea = $('#receivemanAreaIdspan1');//收货人地区
              var redetail = $('#receivemandetailspan1');//收货人具体地址
              var province = $('#select00');//收货人的省市
              var aressform = $('#addnewaddrssform');//form表单
              //  $('#receivemannamespan1').html('收件人姓名格式不正确').css('color', 'red').css('font-size', '11px');
              //脚本验证 增加地址的是否输入正确
              receiveName.blur(function () {
                  checkIsTrueOrFalse(/^[\u4e00-\u9fa5]{2,10}$/, renamespan, receiveName, '收货人姓名输入的格式不正确')
              });
              receiveName.keyup(function () {
                  checkIsTrueOrFalse(/^[\u4e00-\u9fa5]{2,10}$/, renamespan, receiveName, '收货人姓名输入的格式不正确')
              });

              phone.focus(function () {
                  if (renamespan.html() != '√') {
                      phone.blur();
                      receiveName.focus();
                      renamespan.html('收货人名称格式不正确').css('color', 'red');
                  }
              });
              var regstr = /^1[357869]\d{9}$/;
              phone.keyup(function () {

                  if (regstr.test(phone.val())) {
                      rephone.html('√').css('color', 'green');
                  } else {
                      rephone.html('手机号格式不正确').css('color', 'red');
                  }
              });

              phone.blur(function () {

                  if (regstr.test(phone.val())) {
                      rephone.html('√').css('color', 'green');
                  } else {
                      rephone.html('手机号格式不正确').css('color', 'red');
                  }
              });

              province.focus(function () {
                  if (renamespan.html() != '√') {
                      receiveName.focus();
                      renamespan.html('收货人名称格式不正确').css('color', 'red');
                  } else {
                      if (rephone.html() != '√') {
                          phone.focus();
                          renamespan.html('手机号格式不正确').css('color', 'red');
                      }
                  }
              });


              select02.change(function () {

                  if (renamespan.html() == '√' && rephone.html() == '√') {
                      if (select02.val() != "" && select02.val() != null && select02.val() > 0) {
                          //alert(select02.val());
                          rearea.html('√').css('color', 'green');
                          //  alert(select02.val());
                      } else {
                          rearea.html('地区不能为空').css('color', 'red');
                      }
                  }

              });


              detailAddress.focus(function () {
                  if (renamespan.html() != '√') {
                      receiveName.focus();
                      renamespan.html('收货人名称格式不正确').css('color', 'red');
                      if (rephone.html() != '√') {
                          phone.focus();
                          renamespan.html('电话格式不对').css('color', 'red');

                          if (rearea.html() != '√') {
                              province.focus();
                              rearea.html('地区不能为空').css('color', 'red');
                          }
                      }

                  }
              });
              detailAddress.keyup(function () {
                  checkIsTrueOrFalse(/^[\u4e00-\u9fa5a-zA-Z0-9]{4,}$/, redetail, detailAddress, '地址格式不对');
              });

              detailAddress.blur(function () {
                  checkIsTrueOrFalse(/^[\u4e00-\u9fa5a-zA-Z0-9]{4,}$/, redetail, detailAddress, '地址格式不对');
              });


              aressform.submit(function () {
                  if (renamespan.html() == '√') {

                      if (rephone.html() == '√') {

                          if (rearea.html() == '√') {

                              if (redetail.html() == '√') {
                                  return true;

                              } else {
                                  detailAddress.focus();
                                  redetail.html('地址格式不对').css('color', 'red');
                                  return false;
                              }


                          } else {
                              province.focus();
                              rearea.html('地区不能为空').css('color', 'red');
                              return false;
                          }

                      } else {
                          phone.focus();
                          renamespan.html('电话格式不对').css('color', 'red');
                          return false;
                      }
                  } else {
                      receiveName.focus();
                      renamespan.html('收货人名称格式不正确').css('color', 'red');
                      return false;
                  }

              });


              //默认收货地址 的值改变
              //默认地址是否被选中
              $('.addressiddetail').change(function () {
                  if ($('.addressiddetail').prop('checked')) {
                      $('.addressiddetail').val('true');

                  } else {
                      $('.addressiddetail').val('');
                      $('.addressiddetail').val('false');
                  }

              });
              //验证函数
              function checkIsTrueOrFalse(regstr, conspan, coninput, errstr) {
                  if (coninput.val().length == 0) {
                      conspan.html('不能为空').css('color', 'red');
                  } else {
                      if (regstr.test(coninput.val())) {
                          conspan.html('√').css('color', 'green');
                          return true;
                      } else {
                          conspan.html(errstr).css('color', 'red');
                          return false;
                      }
                  }

              };
    </script>
</body>
</html>
