@using FilaShop.Models
@model List<Address>
   @{
       Userinfo user= ViewBag.user as Userinfo;

       //定义一个默认地址的id
       var morenaddressid = 0;

       //默认地址
       foreach (var item in Model)
       {
           if (item.Isdefault == true)
           {
               morenaddressid = item.Id;
           }
       }


       var province = ViewBag.province as List<Area>;
}

<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>会员中心</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" async="" src="~/Scripts/analytics.js"></script>
    <script src="~/Scripts/hm.js"></script>
    <script src="~/Scripts/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

    <!--[if lt IE 9]>
    <script src="~/Scripts/html5fix.js" type="text/javascript" charset="utf-8" ></script>
    <![endif]-->

    <script async="" src="~/Scripts/61ff4adc00dc414fb20cc0f1090b71e2.js"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-111270368-1');
    </script>
    <script src="~/Scripts/jquery.icheck.min.js"></script>
    <link rel="stylesheet" href="~/Content/theme.css">
    <link rel="stylesheet" href="~/Content/global.css">
    <link rel="stylesheet" href="~/Content/styles.css">
    <link rel="stylesheet" href="~/Content/common_180905.css">
    <script src="~/Scripts/jquery.form.js"></script>
    <link rel="stylesheet" href="~/Content/flat.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-datetimepicker.min.css">
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.zh-cn.js"></script>
    <style>
        .bgcolor {
            color: white;
            font-weight: bold;
            background-color: mediumblue;
        }

        .backstr {
            color: white;
            font-weight: bold;
            background-color: dodgerblue;
        }

            .backstr a {
                color: white;
            }

        .pageSize {
            width: 50px;
            height: 35px;
            border: 1px solid #DDDDDD;
        }

        .nocanclick:hover {
            background-color: none;
        }

        .nocontent {
            color: red;
            font-size: 25px;
            text-align: center;
            margin-top: 100px;
        }

        .page-header {
            margin: 0 auto;
        }

        .cart-h1 {
            text-align: center;
            margin: 0 auto;
            background-color: #03234C;
            color: white;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .address-content {
            width: 80%;
            margin: 0 auto;
            padding: 10px;
        }

        .address-content-first-h3 {
            color: black;
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid blue;
        }

        .first-address {
            width: 330px;
            height: 200px;
        }

        .first-address-jiahao {
            padding-top: 10px;
            width: 330px;
            height: 195px;
        }

        .first-address {
            padding: 10px;
            font-size: 14px;
        }

        .editbutton {
            width: 120px;
            height: 35px;
            border: 1px solid black;
        }

            .editbutton:hover {
                border: 1px solid blue;
                color: red;
                background-color: darkgray;
            }

        .deletebtn:hover {
            border: 1px solid blue;
            color: red;
            background-color: darkgray;
        }

        .deletebtn {
            width: 120px;
            height: 35px;
            border: 1px solid black;
        }

        .div-btn-01 {
            margin-top: 5px;
        }

        .address-content-second > div {
            float: left;
        }

        .clear-float {
            float: none;
            clear: both;
        }

        .first-address-content {
            width: 290px;
            height: 180px;
            border: 2px gray solid;
            padding-left: 10px;
        }

        .first-address-jiahao02 {
            margin-left: 10px;
            width: 290px;
            height: 180px;
            border: 2px gray solid;
            padding-left: 10px;
            padding-top: 50px;
            text-align: center;
        }

        .addressman {
            padding-top: 5px;
        }

        .redborder {
            border: 2px red solid;
        }

        .shouthis {
            visibility: visible;
        }

        .hidethis {
            display: none;
        }

        .add-new-address {
            padding: 20px;
            display: none;
            height: 400px;
            border: 1px solid blue;
            margin: 0 auto;
        }

        .addnewaddrssform {
        }

        .checkout-container .checkout-maddr .addr-default .add-new-mddr .btn-new-maddr {
            float: left !important;
        }

        .cart-container .cart-body .c-ci-title .col-xs-9 .text-warning .glyphicon-warning-sign {
            color: #e6002d;
        }

        .addressform {
            width: 800px;
            height: 600px;
            background-color: greenyellow;
            display: none;
        }

        .li01addborder {
            border: 2px solid blue;
        }

        .oldliborder {
            border: 1px solid gray;
        }

        .spanhidden {
            visibility: visible;
        }

        .morenhide {
            visibility: hidden;
        }

        .thirddiv {
            position: absolute;
            margin: 0 auto;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            border: 1px solid black;
            margin-top: -300px;
            margin-left: -30px;
            background-color: darkgray;
        }

        .thirddivdisplay {
            display: none;
        }

        .addUseraddressdiv {
            width: 500px;
            height: 150px;
            margin: 0 auto;
            padding-top: 50px;
            padding-left: 30px;
            text-align: center;
        }

        .addressdiv02 {
            height: 150px;
            width: 250px;
            padding: 2px;
        }

        .receivemandiv01 > div {
            float: left;
        }

        .clearfloat {
            width: 0;
            height: 0;
            float: none;
            clear: both;
        }

        .deleteaddress {
            text-decoration: none;
        }

        .select01 {
            width: 100px;
            height: 30px;
            margin-left: 5px;
            border: 1px solid black;
        }

        .selecthide {
            visibility: hidden;
        }

        .selectshow {
            visibility: visible;
        }

        .select00 {
            width: 100px;
            height: 30px;
            margin-left: 5px;
            border: 1px solid black;
        }

        .select02 {
            width: 100px;
            margin-left: 5px;
            height: 30px;
            border: 1px solid black;
        }

        .showthisdiv {
            display: block;
        }

        .hidethisdiv {
            display: none;
        }

        .inputsubmit:hover {
            border: 1px solid blue;
            background-color: white;
            color: blue;
        }

        .addresscolse:hover {
            border: 1px solid blue;
            color: blue;
        }

        .submitbtn {
            margin-left: 15px;
            width: 60px;
            height: 40px;
            border: 1px solid black;
            background-color: grey;
        }

        .closebtn {
            margin-left: 60%;
            width: 60px;
            height: 40px;
            border: 1px solid black;
        }

        .divvis {
            visibility: hidden;
        }

        .adressbtnedit {
            width: 118px;
        }

        .address-form {
            margin: 0 auto;
            width: 60%;
            padding: 15px;
            border: 1px solid blue;
            margin-top: 10%;
            background-color: white;
        }

        .address-province, .address-shi, .address-qu {
            display: none;
        }
    </style>
    <script>
        $(function () {
            
        });
    </script>
</head>
<body>

    <header class="fila-header">
        <div class="logo">
            <a href="~/Product/List">
                <img src="~/Images/fila_blue_150.png" alt="">
            </a>
        </div>
        <div class="fila-navbar" style="margin-top: 30px;">
            <div class="navbar-search hidden">
                <input id="key" class="text" type="text" autocomplete="off" value="短袖">
                <button class="button" data-action="/list/?" onclick="location=$(this).attr('data-action')+'&keyword='+$('#key').val(); return false;">搜索</button>
            </div>
            <ul class="navbar-list">
                @if (user == null)
                {
                    <li class="navbar-login">
                        <a href="/passport-login.html" target="_blank" title="登入">登入</a>
                    </li>
                    <li class="navbar-register">
                        <a href="/passport-signup.html" target="_blank" title="注册">注册</a>
                    </li>
                    <li class="navbar-cart dropdown">
                        <a class="dropdown-toggle" href="/cart.html" target="_blank">
                            <i class="icon icon-cart"></i>
                            <span class="cart-count hidden" id="cart-count"></span>
                        </a>
                        <ul class="dropdown-menu mini-cart" style="display:none;"></ul>
                    </li>
                }
                else
                {
                    <li class="navbar-user ">
                        <a href="~/User/CommandCenter/@user.Id" target="_blank">
                            您好，@user.Nickname
                            <span></span>
                        </a>
                    </li>
                    <li class="navbar-logout ">
                        <a href="~/User/LoginOut/@user.Id" title="退出">退出</a>
                    </li>
                    <li class="navbar-cart dropdown">
                        <a class="dropdown-toggle" href="/cart.html" target="_blank">
                            <i class="icon icon-cart"></i>
                            <span class="cart-count " id="cart-count">@ViewBag.sum</span>
                        </a>
                        <ul class="dropdown-menu mini-cart" style="display:none;"></ul>
                    </li>

                }

                <li class="navbar-country">
                    <a href="/regionSelector.html" target="_blank">
                        <i class="icon icon-country"></i>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <div class="container main-container main">
        <div class="my-main">
            <div class="row">
                <div class="col-xs-3 my-L">
                    <dl class="my-menu">
                        <dt>
                            会员中心
                        </dt>
                        <dd>
                            <ul class="nav nav-pills nav-stacked">
                                <li data-myaction="orders" class="mm-site_member-orders">
                                    <a href="~/User/CommandCenter/@user.Id">
                                        <span>全部订单</span>
                                    </a>
                                </li>
                                <li data-myaction="form" class="mm-site_member-form">
                                    <a href="#">
                                        <span>晒单评价</span>
                                    </a>
                                </li>
                                <li data-myaction="order" class="mm-site_member-order">
                                    <a href="#">
                                        <span>售后申请</span>
                                    </a>
                                </li>
                                <li data-myaction="request" class="mm-site_member-request">
                                    <a href="#">
                                        <span>售后处理列表</span>
                                    </a>
                                </li>
                                <li data-myaction="index" class="mm-site_member-index">
                                    <a href="#">
                                        <span>我的预约</span>
                                    </a>
                                </li>
                            </ul>
                        </dd>
                        <dt>
                            账户
                        </dt>
                        <dd>
                            <ul class="nav nav-pills nav-stacked">
                                <li data-myaction="setting" class="mm-site_member-setting">
                                    <a href="~/User/Detail/@user.Id">
                                        <span>会员信息</span>
                                    </a>
                                </li>
                                <li data-myaction="securitycenter" class="mm-site_member-securitycenter">
                                    <a href="#">
                                        <span>账户安全</span>
                                    </a>
                                </li>
                                <li data-myaction="exchange_coupon" class="mm-site_exchange-exchange_coupon">
                                    <a href="#">
                                        <span>积分商城</span>
                                    </a>
                                </li>
                                <li data-myaction="integral" class="mm-site_member-integral">
                                    <a href="#">
                                        <span>我的积分</span>
                                    </a>
                                </li>
                                <li data-myaction="favorite" class="mm-site_member-favorite">
                                    <a href="#">
                                        <span>我的收藏</span>
                                    </a>
                                </li>
                                <li data-myaction="coupon" class="mm-site_member-coupon">
                                    <a href="#">
                                        <span>我的优惠券</span>
                                    </a>
                                </li>
                                <li data-myaction="message" class="mm-site_member-message">
                                    <a href="#">
                                        <span>我的消息</span>
                                    </a>
                                </li>
                                <li data-myaction="index" class="mm-site_member-index">
                                    <a href="#">
                                        <span>增票资质</span>
                                    </a>
                                </li>
                                <li data-myaction="receiver" class="mm-site_member-receiver active">
                                    <a href="~/Address/List/@user.Id">
                                        <span>收货地址管理</span>
                                    </a>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <div class="col-xs-9 my-page">
                    <div class="receive-wrap">
                        <div class="page-header clearfix">
                            <h1 class="pull-left">我的收货地址</h1>
                            <!--<a class="btn btn-success pull-right" href="/my-receiver-edit.html">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                                新增收货地址
                            </a>-->

                        </div>

                        <!-- default -->
                        <div class="row addr-wrap">
                            <div class="list-group">
                                @*订单地址开始*@
                                <div class="address-content-first">
                                    <h3 class="address-content-first-h3"></h3>
                                </div>
                                <div class="address-content-second">
                                    @foreach (var item in Model)
                                    {
                                        string redborder = "";//边框颜色
                                        string hidethis = "";//隐藏
                                        string shouthis = "";//显示
                                        if (item.Isdefault == true)
                                        {
                                            morenaddressid = item.Id;
                                            redborder = "redborder";
                                            hidethis = "";
                                            shouthis = "shouthis";
                                        }
                                        else
                                        {
                                            redborder = "";
                                            hidethis = "hidethis";
                                            shouthis = "";
                                        }
                                        <div class="first-address ">
                                            <div class="first-address-content @redborder">

                                                <input type="radio" style="display:none;" name="showaddressid" value="@item.Id" />
                                                <p class="addressman">@item.ReceiverName</p><p class="addressphone">@item.Phone</p>
                                                <hr />
                                                <p class="addressqu">  @item.Area.Area2.Area2.Name @item.Area.Area2.Name  @item.Area.Name</p>
                                                <p class="address-province">@item.Area.Area2.Area2.Id</p>
                                                <p class="address-shi">@item.Area.Area2.Id</p>
                                                <p class="address-qu">@item.AreaId</p>
                                                <p class="addressdetail">@item.DetailAddress</p>

                                                <span class="isdefault-address @hidethis "><img src="~/Images/check_true.png" width="15" height="15">默认收货地址</span>
                                                <div class="div-btn-01 @hidethis ">
                                                    <input type="button" class="editbutton" name="editbutton" value="编辑" />
                                                    <input type="button" name="deletebtn" class="deletebtn" value="删除" />
                                                    @* onclick="javascript:deletethis(@item.Id);"
                            onclick="javascript:editthis(@item.Id);"
                                                    *@
                                                </div>

                                            </div>
                                        </div>


                                    }
                                    <div class="first-address-jiahao">
                                        <div class="first-address-jiahao02">
                                            <a href="javascript:addNewAddress();">
                                                <span class="iconfont icon-add"><img src="~/Images/orders/add_cart.png"></span><br />
                                                使用新地址
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear-float"></div>
                                <div class="add-new-address">
                                    <form action="" method="get" id="addnewaddrssform" class="addnewaddrssform">
                                        <div style="height:45px;border-bottom:1px solid gray;">
                                            <h4>收货人地址信息管理&nbsp;&nbsp;<span class="receiveman01" style="font-weight:bold;"></span></h4>
                                        </div>
                                        <hr />
                                        <div style="height:45px;margin-top:5px;display:none;">
                                            <span>收货人id：</span><input style="width:250px;height:30px;border:1px solid black;" type="text" name="Id" class="aeditaddressid" id="addressid" value="" />
                                        </div>

                                        <div style="height:45px;margin-top:5px;">
                                            <span>收货人姓名：</span><input style="width:250px;height:30px;border:1px solid black;" type="text" name="ReceiverName" class="receivemanname" id="receivemanname" value=""
                                                                      placeholder="收货人姓名2-12位中文" />
                                            <span id="receivemannamespan1"></span>
                                        </div>

                                        <div style="height:45px;margin-top:5px;">
                                            <span>收货人电话：</span>
                                            <input style="width:250px;height:30px;border:1px solid black;" type="text" name="Phone" class="receivemanphone" id="receivemanphone" value=""
                                                   placeholder="收货人电话是11位手机号" /><span id="receivemanphonespan1"></span>
                                        </div>
                                        <div style="height:45px;margin-top:5px;">
                                            <span>收货人地区：</span>
                                            <select onchange="getNext(this); clearThree(this);" data-lever-index="0" id="select00" class="select00">
                                                <option value="-1">请选择</option>
                                                @foreach (var item in province)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            </select>

                                            <select onchange="getNext(this);" data-lever-index="1" class="select01 " style="visibility:hidden;">
                                                <option value="-1">请选择</option>
                                            </select>

                                            <select name="AreaId" class="select02 " data-lever-index="2" id="select02" style="visibility:hidden;"></select><span id="receivemanAreaIdspan1"></span>
                                        </div>

                                        <div style="height:45px;margin-top:5px;">
                                            <span>具体地址：&nbsp;</span><input style="width:400px;height:30px;border:1px solid black;" type="text" name="DetailAddress" class="addressdetail" id="addressdetail"
                                                                           placeholder="具体地址" value="" />
                                            <span id="receivemandetailspan1"></span>
                                        </div>

                                        <div style="height:60px;margin-top:5px; border-top:1px solid gray;padding-top:10px;">
                                            <span>默认收货地址：</span>
                                            <input type="checkbox" name="IsDefault" class="addressiddetail" id="addressiddetail" value="false" />

                                            <input type="button" name="close" value="关闭" id="addresscolse" class="addresscolse closebtn" />
                                            <input type="submit" class="inputsubmit submitbtn " name="submit" value="提交" />
                                        </div>
                                    </form>
                                </div>
                                @*订单地址结束*@
                                <a href="/my-receiver-edit.html">
                                    <div class="col-xs-4 mb25 addr-add-btn">
                                        <div class="list-group-item ">
                                            <div class="text-center mt20">
                                                <img src="" alt="" />
                                                <p class="mt15"></p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
    var alert_timer = 0;
    var _alert_error = function(msg){
        $('#receiver_form .alert-error').remove();
        $('#receiver_form').append($('<div class="alert alert-danger">'+msg+'</div>'));
        alert_timer = setTimeout(function(){
            clearTimeout(alert_timer);
            $('#receiver_form').find('.alert-danger').fadeOut('fast',function(){
                $(this).remove();
            });
        },3000);
    }
    var check_input_flag=true;
    var check_input = function(){
      var mobile_num=$('input[name="maddr[mobile]"]').val();
        var mobile = /^1[1|2|3|4|5|6|7|8|9]\d{9}$/;
      if( $('input[name="maddr[area]"]').val().length<9 || $('select[data-level-index=2]').val()== null || $('select[data-level-index=2]').val()=="_NULL_"){
          _alert_error('请选择地区信息');
          check_input_flag=false;
        return false;
      }
      if(!mobile.test(mobile_num)){
          _alert_error('请正确填写手机号码');
          $('input[name="maddr[mobile]"]').focus();
          check_input_flag=false;
          return false;
      }
      check_input_flag=true;
    }
    $("#receiver_form").submit(function() {
        if(!check_input_flag){
          return false;
        }
        if($("#receiver_form button[type=submit]").hasClass("disable")){
          return false;
        }
        $("#receiver_form button[type=submit]").addClass("disable");
        var _this = $(this);
        var res;
        $.ajax({
            url:_this.attr('action'),
            data: _this.serialize(),
            type: 'post',
            async:false,
            cache:false,
            success:function(data){
                if(data.error) {
                    alert(data.error);
                    res = false;
                    return false;
                }else{
                    location.href = data.redirect;
                }
            }
        });
        return false;
    });
                    </script>
                </div>
            </div>
        </div>
    </div>

    <footer class="fila-footer clearfix">
        <div class="ft-left fl">
            <ul class="link-list">
                <li>
                    <a href="/n-20.html" target="_blank">购物服务</a>
                </li>
                <li>
                    <a href="/history.html" target="_blank">关于品牌</a>
                </li>
                <li>
                    <a href="/shop.html" target="_blank">查找门店</a>
                </li>
            </ul>
            <div class="ft-follow">
                <span>关注FILA的官方媒体:</span>
                <a class="ft-sina" href="http://weibo.com/fila2010?refer_flag=1001030101_" target="_blank"></a>
                <a class="ft-weixin">
                    <div class="ft-weixin-tip">
                        <img src="Picture/weixin0525.jpg">
                    </div>
                </a>
            </div>
            <div class="ft-service">
                <span>售后服务电话: 400-886-7699</span>
            </div>
        </div>
        <div class="ft-right fr">
            <span>&copy;FILA体育&nbsp;闽ICP备11020421号-8</span>
        </div>
    </footer>
    <div class="fixed-toolbar">
        <a class="fixed-service" onclick="xiaoneng_isExitsFunction();" href="javascript:;">客服</a>
    </div>
    <script src="~/Scripts/header_180905.js"></script>
    <script charset="utf-8">
/*购物数量 事件拦截开始*/

$(function(){
    var change_event_timer = 0;
    var _change_quantity = function(ipt,num){
        ipt = $(ipt),last_val = parseInt(ipt.val());
        var set_v = last_val+num;
        ipt.val(set_v);
        if(isNaN(ipt.val()) || ipt.val()<1){
            ipt.val('1');
        }
        if(ipt.attr('data-max') && set_v>parseInt(ipt.attr('data-max'))){
            ipt.val(ipt.attr('data-max'));
        }
        if(ipt.attr('data-min') && set_v<parseInt(ipt.attr('data-min'))){
            ipt.val(ipt.attr('data-min'));
        }
        if(set_v === parseInt($(ipt).attr('data-now')))return;

        //限购商品限制数量加减
        if($('.order-max').length>0){
            var max_buy = new Number($('.notice-restrict .order-max').text());
            if(set_v >= max_buy){
                ipt.attr('data-now',max_buy);
                ipt.val(max_buy);
            }
        }
        if($('.order-max').length==0&&$('.member-max').length>0){
            var max_buy = new Number($('.notice-restrict .member-max').text());
            if(set_v >= max_buy){
                ipt.attr('data-now',max_buy);
                ipt.val(max_buy);
            }
        }

        //预约商品限制数量加减
        if(!$('.reserve-quantity').hasClass('hide')){
            var $el = $('#J_sale_buy_num');
            var max_sale = $el.data('max-sale');
            if(set_v >= max_sale ){
                ipt.attr('data-now',max_sale);
                ipt.val(max_sale);
            }
        }

        $(ipt).attr('data-now',set_v);
        ipt.trigger('_change',[ipt.val(),num]);
    }

    $(document).on('click','.product-quantity .spinner-buttons',function(e){
        var btn = $(this);
        btn.find('button').eq(0).blur();
        if(btn.data('animating'))return;
        if(btn.next('.spinner-input').length){
            _change_quantity(btn.next('.spinner-input'),-1);
        }
        if(btn.prev('.spinner-input').length){
            _change_quantity(btn.prev('.spinner-input'),+1);
        }
        btn.data('animating',true);
        btn.css('opacity',.2);
        btn.animate({opacity:1},'slow',function(){
            $(this).removeData('animating');
        });


    });
    $(document).on('keyup','.product-quantity .spinner-input',function(e){
        switch (e.keyCode) {
            case 38:
                _change_quantity(this,+1);
                break;
            case 40:
                _change_quantity(this,-1);
                break;
            default:
                _change_quantity(this,0);
        }
    });
});


/*购物数量 事件拦截结束*/
    </script>

    <script type="text/javascript">
              //使用新增地址
              function addNewAddress(){
                  $('.add-new-address').show();
                  $('.receiveman01').html('新增').css('color', 'red');
                  $('.addnewaddrssform').attr('action', '/Address/Add');
                  $('.addnewaddrssform').find('input[type="text"]').val('');
                  $('.addnewaddrssform').find('input[type="text"]').next('span').html('');
                  $('.select00').val('-1');
                  //市级
                  $('.select01').css('visibility', 'hidden');
                  $('.select02').css('visibility', 'hidden');
              }

              //编辑按钮  --编辑地址  ,就是把当前选中的地址添加到  打开的编辑表单里
              $('.editbutton').click(function () {
                  $('.add-new-address').show();
                  $('.receiveman01').html('编辑').css('color', 'red');
                  $('.addnewaddrssform').attr('action', '/Address/Edit');
                  var editaddressid = $(this).parent().parent().find('input[type="radio"]').val();
                  var editrecename = $(this).parent().parent().find('p[class="addressman"]').html();
                  var editrecephone = $(this).parent().parent().find('p[class="addressphone"]').html();

                  var editrecedetail = $(this).parent().parent().find('p[class="addressdetail"]').html();
                  var editreceprovince = $(this).parent().parent().find('p[class="address-province"]').html();
                  var editreceshi = $(this).parent().parent().find('p[class="address-shi"]').html();
                  var editrecequ = $(this).parent().parent().find('p[class="address-qu"]').html();



                  //编辑框id
                  $('.aeditaddressid').val(editaddressid);
                  //编辑框名字
                  $('.receivemanname').val(editrecename);
                  //编辑框电话
                  $('.receivemanphone').val(editrecephone);


                  $('select[data-lever-index]').css('visibility', 'visible');
                  //编辑框具体地址
                  $('.addressdetail').val(editrecedetail);
                  //省级

                  $('.select00').val(editreceprovince).change();
                  //市级
                  $('.select01').val(editreceshi).change();
                  $('.select02').val(editrecequ).change();


                  $('.addressiddetail').prop('checked', true).val('true');


              });


              //删除,没有实现同步，未能实现同步刷新
              $('.deletebtn').click(function () {
                  var addressid = $(this).parent().parent().find('input[type="radio"]').val();
                  $.post('/Address/Delete', { 'addressid': addressid }, function () {

                  });
                  $(this).parent().parent().parent('.first-address').remove();
                  $('.formaddressid').val('');
              })



              //关闭窗口
              $('#addresscolse').click(function () {
                  $('.add-new-address').hide();
              });

              //点击1个地址的div边框改变颜色，同时显示  默认地址  编辑和删除按钮
              $('.first-address-content').click(function () {
                  $('.first-address-content').css('border', '2px solid gray');
                  $('.div-btn-01').addClass('hidethis');
                  $('.isdefault-address ').addClass('hidethis');
                  //即时更改数据库状态
                 var addressid= $(this).find('input[type="radio"]').val();
                 $.post('/Address/Update', { 'addressid': addressid }, function () {
                 });
                 //$('.first-address-content').children().find('.div-btn-01')
                 $(this).css('border', '2px solid red');
                 $(this).find('.div-btn-01').removeClass('hidethis');
                 $(this).find('.isdefault-address ').removeClass('hidethis');
                 $('.formaddressid').val(addressid);
              });


              //省市县三级联动，省级选项变动  绑定函数
              function getNext(obj) {
                  // var id=$(obj).val();
                  $.ajaxSettings.async = false;
                  $.post('/Cart/AreaList', { 'id': $(obj).val() }, function (data) {
                      $(obj).next().empty();//清空
                      $(data).each(function (i, e) {
                          var option = '<option value="' + e.Id + '">' + e.Name + '</option>';
                          $(obj).next().css('visibility', 'visible').append(option);
                      });
                  });
              };

              //清理第三级
              function clearThree(obj) {
                  $(obj).next().next().empty().css('visibility', 'hidden');
              }






              //修改地址表单的验证

              var receiveName = $('#receivemanname');//收件人名字
              var phone = $('#receivemanphone');//收件人电话
              var detailAddress = $('#addressdetail');//具体地址
              var select02 = $('#select02')//具体区县;

              var renamespan = $('#receivemannamespan1');//收货人提示框
              var rephone = $('#receivemanphonespan1');//收货人电话
              var rearea = $('#receivemanAreaIdspan1');//收货人地区
              var redetail = $('#receivemandetailspan1');//收货人具体地址
              var province = $('#select00');//收货人的省市
              var aressform = $('#addnewaddrssform');//form表单
              //  $('#receivemannamespan1').html('收件人姓名格式不正确').css('color', 'red').css('font-size', '11px');
              //脚本验证 增加地址的是否输入正确
              receiveName.blur(function () {
                  checkIsTrueOrFalse(/^[\u4e00-\u9fa5]{2,10}$/, renamespan, receiveName, '收货人姓名输入的格式不正确')
              });
              receiveName.keyup(function () {
                  checkIsTrueOrFalse(/^[\u4e00-\u9fa5]{2,10}$/, renamespan, receiveName, '收货人姓名输入的格式不正确')
              });

              phone.focus(function () {
                  if (renamespan.html() != '√') {
                      phone.blur();
                      receiveName.focus();
                      renamespan.html('收货人名称格式不正确').css('color', 'red');
                  }
              });
              var regstr = /^1[357869]\d{9}$/;
              phone.keyup(function () {

                  if (regstr.test(phone.val())) {
                      rephone.html('√').css('color', 'green');
                  } else {
                      rephone.html('手机号格式不正确').css('color', 'red');
                  }
              });

              phone.blur(function () {

                  if (regstr.test(phone.val())) {
                      rephone.html('√').css('color', 'green');
                  } else {
                      rephone.html('手机号格式不正确').css('color', 'red');
                  }
              });

              province.focus(function () {
                  if (renamespan.html() != '√') {
                      receiveName.focus();
                      renamespan.html('收货人名称格式不正确').css('color', 'red');
                  } else {
                      if (rephone.html() != '√') {
                          phone.focus();
                          renamespan.html('手机号格式不正确').css('color', 'red');
                      }
                  }
              });


              select02.change(function () {

                  if (renamespan.html() == '√' && rephone.html() == '√') {
                      if (select02.val() != "" && select02.val() != null && select02.val() > 0) {
                          alert(select02.val());
                          rearea.html('√').css('color', 'green');
                          //  alert(select02.val());
                      } else {
                          rearea.html('地区不能为空').css('color', 'red');
                      }
                  }

              });


              detailAddress.focus(function () {
                  if (renamespan.html() != '√') {
                      receiveName.focus();
                      renamespan.html('收货人名称格式不正确').css('color', 'red');
                      if (rephone.html() != '√') {
                          phone.focus();
                          renamespan.html('电话格式不对').css('color', 'red');

                          if (rearea.html() != '√') {
                              province.focus();
                              rearea.html('地区不能为空').css('color', 'red');
                          }
                      }

                  }
              });
              detailAddress.keyup(function () {
                  checkIsTrueOrFalse(/^[\u4e00-\u9fa5a-zA-Z0-9]{4,}$/, redetail, detailAddress, '地址格式不对');
              });

              detailAddress.blur(function () {
                  checkIsTrueOrFalse(/^[\u4e00-\u9fa5a-zA-Z0-9]{4,}$/, redetail, detailAddress, '地址格式不对');
              });


              aressform.submit(function () {
                  if (renamespan.html() == '√') {

                      if (rephone.html() == '√') {

                          if (rearea.html() == '√') {

                              if (redetail.html() == '√') {
                                  return true;

                              } else {
                                  detailAddress.focus();
                                  redetail.html('地址格式不对').css('color', 'red');
                                  return false;
                              }


                          } else {
                              province.focus();
                              rearea.html('地区不能为空').css('color', 'red');
                              return false;
                          }

                      } else {
                          phone.focus();
                          renamespan.html('电话格式不对').css('color', 'red');
                          return false;
                      }
                  } else {
                      receiveName.focus();
                      renamespan.html('收货人名称格式不正确').css('color', 'red');
                      return false;
                  }

              });


              //默认收货地址 的值改变
              //默认地址是否被选中
              $('.addressiddetail').change(function () {
                  if ($('.addressiddetail').prop('checked')) {
                      $('.addressiddetail').val('true');

                  } else {
                      $('.addressiddetail').val('');
                      $('.addressiddetail').val('false');
                  }

              });
              //验证函数
              function checkIsTrueOrFalse(regstr, conspan, coninput, errstr) {
                  if (coninput.val().length == 0) {
                      conspan.html('不能为空').css('color', 'red');
                  } else {
                      if (regstr.test(coninput.val())) {
                          conspan.html('√').css('color', 'green');
                          return true;
                      } else {
                          conspan.html(errstr).css('color', 'red');
                          return false;
                      }
                  }

              };
    </script>



    <div style="display:none" data-rel="Baidu Analytics">
        <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?8e1f31faa8383ed7a42a8e58efe4a621";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
        </script>
    </div>
</body>
</html>
