@using FilaShop.Models
@model List<Cart>


@{
    //用户所有的地址集合
    List<Address> addresslist = ViewBag.addresslist as List<Address>;
    // Response.Write(addresslist.Count());
    //省市区县表集合
    List<Area> arealist = ViewBag.areaParent as List<Area>;



    Userinfo userinfo = Session["user"] as Userinfo;
    //商品总价：
    decimal? goodsSum = 0;

    int? address_Id = 0;

    //定义provinceid  省级id

    //编辑按钮传递的id值
    Address editAddress = ViewBag.editAddress as Address;

}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>我的购物车</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="mobile-agent" content="format=[wml|xhtml|html5];url=http://www.fila.cn/m/cart.html">
    <link rel="alternate" media="only screen and (max-width:640px)" href="http://www.fila.cn/m/cart.html">
    <meta name="applicable-device" content="pc">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="keywords" content="斐乐,斐乐官方旗舰店,斐乐旗舰店,FILA官方商城,FILA官网，FILA,斐乐官网,FILA网上商城">
    <meta name="Description" content="访问斐乐(FILA)官网,了解最新的品牌资讯,成为会员,切身体验尊崇的购物旅程,尽在FILA中国官方网站Fila.cn">
    <link rel="icon" href="//www.fila.cn/favicon.ico" type="image/x-icon">
    <script language="javascript">
	        var u = navigator.userAgent;
	        if (u.indexOf('Android') > -1 || u.indexOf('Linux') > -1
	                        || u.indexOf('Windows Phone') > -1 || u.indexOf('iPhone') > -1
	                        || u.indexOf('iPad') > -1) {
	                        window.location.href ='http://www.fila.cn/m/cart.html';

	        }

    </script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="~/scripts/jquery-3.3.1.js"></script>

    <script src="~/scripts/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/scripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <!--site header common-->
    <!--[if lt IE 9]>
    <script src="Scripts/html5fix.js" type="text/javascript" charset="utf-8"></script>
    <![endif]-->
    <link rel="stylesheet" href="~/Content/30e30d00a7484a32be420342efb88932.css">
    <style type="text/css">
        .checkout-container .checkout-maddr .addr-default .add-new-mddr .btn-new-maddr {
            float: left !important;
        }

        .cart-container .cart-body .c-ci-title .col-xs-9 .text-warning .glyphicon-warning-sign {
            color: #e6002d;
        }

        .addressform {
            width: 800px;
            height: 600px;
            background-color: greenyellow;
            display: none;
        }

        .li01addborder {
            border: 2px solid blue;
        }

        .oldliborder {
            border: 1px solid gray;
        }

        .spanhidden {
            visibility: visible;
        }

        .morenhide {
            visibility: hidden;
        }

        .thirddiv {
            position: absolute;
            margin: 0 auto;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            border: 1px solid black;
            margin-top: -300px;
            margin-left: -30px;
            background-color: darkgray;
        }

        .thirddivdisplay {
            display: none;
        }

        .addUseraddressdiv {
            width: 500px;
            height: 150px;
            margin: 0 auto;
            padding-top: 50px;
            padding-left: 30px;
            text-align: center;
        }

        .addressdiv02 {
            height: 150px;
            width: 250px;
            padding: 2px;
        }

        .receivemandiv01 > div {
            float: left;
        }

        .clearfloat {
            width: 0;
            height: 0;
            float: none;
            clear: both;
        }

        .deleteaddress {
            text-decoration: none;
        }

        .select01 {
            width: 100px;
            height: 30px;
            margin-left: 5px;
            border: 1px solid black;
        }

        .selecthide {
            visibility: hidden;
        }

        .selectshow {
            visibility: visible;
        }

        .select00 {
            width: 100px;
            height: 30px;
            margin-left: 5px;
            border: 1px solid black;
        }

        .select02 {
            width: 100px;
            margin-left: 5px;
            height: 30px;
            border: 1px solid black;
        }

        .showthisdiv {
            display: block;
        }

        .hidethisdiv {
            display: none;
        }

        .inputsubmit:hover {
            border: 1px solid blue;
            background-color: white;
            color: blue;
        }

        .addresscolse:hover {
            border: 1px solid blue;
            color: blue;
        }

        .submitbtn {
            margin-left: 15px;
            width: 60px;
            height: 40px;
            border: 1px solid black;
            background-color: grey;
        }

        .closebtn {
            margin-left: 60%;
            width: 60px;
            height: 40px;
            border: 1px solid black;
        }

        .divvis {
            visibility: hidden;
        }

        .adressbtnedit {
            width: 118px;
        }

        .address-form {
            margin: 0 auto;
            width: 60%;
            padding: 15px;
            border: 1px solid blue;
            margin-top: 10%;
            background-color: white;
        }
    </style>

</head>
<body>

    <!-- 公共部分 Header -->
    <header class="fila-header">
        <div class="logo">
            <a href="~/Product/List">
                <img src="~/Images/fila_blue_150.png" alt="">
            </a>
        </div>
        <div class="fila-navbar">
            <div class="navbar-search   divvis">
                <input id="key" class="text" type="text" autocomplete="off" name="keyword" value="@Request.QueryString["keyword"]">
                <button class="button" id="searchbtn01">搜索</button>
            </div>
            <ul class="navbar-list">

                <!-- 未登录 -->
                @if (userinfo != null)
                {
                    <li class="navbar-user ">
                        <a href="~/User/Detail" target="_blank">
                            您好，
                            <span>@userinfo.Nickname</span>
                        </a>
                    </li>
                    <li class="navbar-logout ">
                        <a href="~/User/LoginOut" title="退出">退出</a>
                    </li>
                    <li class="navbar-cart dropdown">
                        <a class="dropdown-toggle" href="~/Cart/List" target="_blank">
                            <i class="icon icon-cart"></i>
                            <span class="cart-count " id="cart-count"> @ViewBag.cartcount</span>
                        </a>
                        <!--
                             <ul class="dropdown-menu mini-cart" style="display:none;">
                            </ul> -->
                    </li>

                }
                else
                {
                    <li class="navbar-login">
                        <a href="~/User/Login" target="_blank" title="登入">登入</a>
                    </li>
                    <li class="navbar-register">
                        <a href="~/User/Register" target="_blank" title="注册">注册</a>
                    </li>
                    <li class="navbar-cart dropdown">
                        <a class="dropdown-toggle" href="~/Cart/List" target="_blank">
                            <i class="icon icon-cart"></i>
                            <span class="cart-count hide" id="cart-count"> </span>
                        </a>
                        <!--
                             <ul class="dropdown-menu mini-cart" style="display:none;">
                            </ul> -->
                    </li>
                }


                <li class="navbar-country">
                    <a href="#" target="_blank">
                        <i class="icon icon-country"></i>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <div class="main">

        <div class="page-header  cart-title">
            <h1>
                购物车
            </h1>
        </div>
        @*当前用户收货地址列表展示*@
        <div class="container main-container">
            <div class="content-addresslist">
                <form class="checkout-container">
                    <div data-flowindex=0 class="panel panel-default checkout-maddr ">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title pull-left">收货人信息</h3>
                        </div>
                        <div class="address_box">
                            <ul class="list-group addr-default row">
                                @foreach (var item in addresslist)
                                {
                                    string li01addborder = "";
                                    string spanhidden = "";
                                    string showthisdiv = "";


                                    if (item.Isdefault != null && item.Isdefault == true)
                                    {
                                        li01addborder = "li01addborder";
                                        spanhidden = "spanhidden";
                                        showthisdiv = "showthisdiv";
                                        address_Id = item.Id;
                                    }
                                    else
                                    {
                                        li01addborder = "oldliborder";
                                        spanhidden = "morenhide";
                                        showthisdiv = "hidethisdiv";
                                    }

                                    <li class="list-group-item clearfix  col-md-3   ">
                                        <div style="padding:5px;width:270px;height:170px;">
                                            <div class="addressdiv02  @li01addborder">
                                                <input type="radio" class="addrressidhide hide" checked name="addrressid" id="showaddressid" value="@item.Id">
                                                <p data-bind="name" id="showaddressreceivename" class="addr-name">@item.ReceiverName                </p>
                                                <p data-bind="mobile" id="showaddressphone">@item.Phone</p>
                                                <p data-bind="area" id="showaddressdetailarea" class="addr-area">@item.Area.Area2.Area2.Name  @item.Area.Area2.Name @item.Area.Name</p>
                                                <p data-bind="addr" id="showaddressdetail" classadressbtnedit="addr-area">@item.DetailAddress</p>
                                                &nbsp;

                                                <span class="isdefaultAddress  @spanhidden" id="showaddressisdefault">
                                                    <img src="~/Images/check_true.png" width="15" height="15">
                                                    <!--  <input type="checkbox" checked="check" id="flat-checkbox-1"> -->
                                                    默认收货地址
                                                </span>



                                                <div id="receivemandiv01" class="receivemandiv01  @showthisdiv " style="margin-top:10px;" aria-label="收货人信息操作">
                                                    <div data-addrid="@item.Id" class="btn btn-default btn-edit-maddr  adressbtnedit" id="adressbtnedit">编辑</div>
                                                    <div data-addrid="@item.Id" style="width:118px;" class="btn btn-default btn-delete-maddr" id="btndelete"><a class="deleteaddress" href="~/Address/Delete/@item.Id">删除</a></div>
                                                </div>
                                                <div class="clearfloat"></div>

                                            </div>
                                        </div>
                                    </li>
                                }
                                <li class="list-group-item add-new-mddr col-md-3">
                                    <div style="padding:5px;width:270px;height:170px;" id="addUseraddress">
                                        <div style="height:150px; width:250px;border:1px solid gray;padding:2px;margin:0 auto;padding-top:50px;text-align:center;">
                                            <img src="~/Images/add-addr.png" alt="">
                                            <p>添加收货地址</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>

                    </div>

                </form>
            </div>

            <br />
        </div>
        @*添加收货地址，修改收货地址*@
        <div class="thirddiv thirddivdisplay" id="thirddiv">

            <form class="address-form" method="post" action="" id="aressform">

                <div style="height:45px;border-bottom:1px solid gray;">
                    <h4>收货人地址信息管理&nbsp;&nbsp;<span class="receiveman01" style="font-weight:bold;"></span></h4>
                </div>
                <hr />
                <div style="height:45px;margin-top:5px;display:none;">
                    <span>收货人id：</span><input style="width:250px;height:30px;border:1px solid black;" type="text" name="addressid" class="addressid" id="addressid" value="@editAddress.Id" />
                </div>

                <div style="height:45px;margin-top:5px;">
                    <span>收货人姓名：</span><input style="width:250px;height:30px;border:1px solid black;" type="text" name="ReceiverName" class="receivemanname" id="receivemanname" value="@editAddress.ReceiverName"
                                              placeholder="收货人姓名2-12位中文" />
                    <span id="receivemannamespan1"></span>
                </div>

                <div style="height:45px;margin-top:5px;">
                    <span>收货人电话：</span>
                    <input style="width:250px;height:30px;border:1px solid black;" type="text" name="Phone" class="receivemanphone" id="receivemanphone" value="@editAddress.Phone"
                           placeholder="收货人电话是11位手机号" /><span id="receivemanphonespan1"></span>
                </div>
                <div style="height:45px;margin-top:5px;">
                    <span>收货人地区：</span>
                    <select onchange="getNext(this); clearThree(this);" id="select00" class="select00">
                        <option value="-1">请选择</option>
                        @foreach (Area item in ViewBag.areaParent as List<Area>)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>

                    <select onchange="getNext(this);" data-lever-index="1" class="select01 " style="visibility:hidden;">
                        <option value="-1">请选择</option>
                    </select>

                    <select name="AreaId" class="select02 " id="select02" style="visibility:hidden;"></select><span id="receivemanAreaIdspan1"></span>
                </div>

                <div style="height:45px;margin-top:5px;">
                    <span>具体地址：&nbsp;</span><input style="width:400px;height:30px;border:1px solid black;" type="text" name="DetailAddress" class="addressdetail" id="addressdetail"
                                                   placeholder="具体地址" value="@editAddress.DetailAddress" />
                    <span id="receivemandetailspan1"></span>
                </div>

                <div style="height:60px;margin-top:5px; border-top:1px solid gray;padding-top:10px;">
                    <span>默认收货地址：</span>
                    <input type="checkbox" name="IsDefault" class="addressiddetail" id="addressiddetail" value="@editAddress.Isdefault" />

                    <input type="button" name="close" value="关闭" id="addresscolse" class="addresscolse closebtn" />
                    <input type="submit" class="inputsubmit submitbtn " name="submit" value="提交" />
                </div>

            </form>
        </div>
        @*购物车中商品信息展示*@


    </div>



  

    <!-- 公共部分 Footer -->
    <footer class="fila-footer clearfix">
        <div class="ft-left fl">
            <ul class="link-list">
                <li>
                    <a href="/n-20.html" target="_blank">购物服务</a>
                </li>
                <li>
                    <a href="/history.html" target="_blank">关于品牌</a>
                </li>
                <li>
                    <a href="/shop.html" target="_blank">查找门店</a>
                </li>
            </ul>
            <div class="ft-follow">
                <span>关注FILA的官方媒体:</span>
                <a class="ft-sina" href="https://weibo.com/fila2010?refer_flag=1001030101_" target="_blank"></a>
                <a class="ft-weixin">
                    <div class="ft-weixin-tip">
                        <img src="~/Images/weixin0525.jpg">
                    </div>
                </a>
            </div>
            <div class="ft-service">
                <span>售后服务电话: 400-886-7699</span>
            </div>
        </div>
        <div class="ft-right fr">
            <span>&copy;FILA体育&nbsp;闽ICP备11020421号-8</span>
        </div>
    </footer>
    <div class="fixed-toolbar">
        <a class="fixed-service" onclick="xiaoneng_isExitsFunction();" href="javascript:;">客服</a>
    </div>
    <script src="~/scripts/header_180905.js"></script>


    <script>
        //全选
        var allcheckbox = $('#ck_ident_all_normal');
        var checkboxs = $('.allchoisebox');
        allcheckbox.click(function () {

        });


        //添加地址
        $('#addUseraddress').click(function () {
            $('#thirddiv').removeClass('thirddivdisplay');
            $('.receiveman01').html('新增');
            $('#aressform').attr('action', '').attr('action', '/Address/Add');
            $('.content-productlist').hide();
        });
        //关闭窗口
        $('#addresscolse').click(function () {
            $('#thirddiv').addClass('thirddivdisplay');
            $('#aressform').attr('action', '');
            $('.content-productlist').show();
        });
        //修改地址
        $('.adressbtnedit').click(function () {
            $('#thirddiv').removeClass('thirddivdisplay').css('z-index',2);
            $('.content-productlist').hide();
            $('.receiveman01').html('修改').css('color', 'blue');
            $('#aressform').attr('action', '').attr('action', '/Address/AgainEdit');
            $.get('/Cart/List', { 'id': $('#showaddressid').val() }, function () { });
            console.log($('#showaddressid').val());
           // $(this).find('#addressid').val($('#showaddressid').val());
           // $(this).find('#receivemanname').val($('#showaddressreceivename').val());
           // $(this).find('#receivemanphone').val(($('#showaddressphone').val()));
        });


        /*
        $('#btnedit').click(function () {
            $('#thirddiv').removeClass('thirddivdisplay');
            $('.receiveman01').html('修改');
            $('#aressform').attr('action', '').attr('action', '~/Address/Update');
        });
        */
        //默认地址更改，同时更改数据库
        $('.addressdiv02').click(function () {
            $('.addressdiv02').removeClass('li01addborder').addClass('oldliborder');
            $('.isdefaultAddress').removeClass('spanhidden').addClass('morenhide');
            $('.receivemandiv01').removeClass('showthisdiv').addClass('hidethisdiv');
           // $('#thirddiv').addClass('thirddivdisplay');
            $('#aressform').attr('action', '');

            $(this).removeClass('oldliborder').addClass('li01addborder');
            $(this).find('.isdefaultAddress').removeClass('morenhide').addClass('spanhidden');
            $(this).find('.receivemandiv01').removeClass('hidethisdiv');
            //获取当前选中的地址的id信息，更改其isdetail值,同时更改数据库数据
            var id = $(this).find('.addrressidhide').val();
            $.get('/Address/Update', { 'id': id }, function () { });
            $('#AddressIdbuy').val(id);//修改提交购物车订单时的收货地址id

        });

        //默认地址是否被选中
        $('.addressiddetail').change(function () {
            if ($('.addressiddetail').prop('checked')) {
                $('.addressiddetail').val('true');

            } else {
                $('.addressiddetail').val('');
                $('.addressiddetail').val('false');
            }

        });



      //  });
        /*
        function deletethis(id) {
            //数据库中已经删除
            $.get('/Cart/Delete', { 'id': id }, function () {
                if ($('.thiscartid').val() == id) {
                    $('.thiscartid').parent().remove();
                }
            });

        }
        */
        //省市县三级联动，省级选项变动  绑定函数
        function getNext(obj) {
           // var id=$(obj).val();
            $.post('/Cart/AreaList', { 'id': $(obj).val() }, function (data) {
                 $(obj).next().empty();//清空
                $(data).each(function (i, e) {
                  var option = '<option value="' + e.Id + '">' + e.Name + '</option>';

                    $(obj).next().css('visibility', 'visible').append(option);
               });
            });
        };

        //清理第三级
        function clearThree(obj) {
            $(obj).next().next().empty().css('visibility', 'hidden');
        }
        //验证函数
        function checkIsTrueOrFalse(regstr, conspan, coninput, errstr) {
            if (coninput.val().length == 0) {
                conspan.html('不能为空').css('color', 'red');
            } else {
                if (regstr.test(coninput.val())) {
                    conspan.html('√').css('color', 'green');
                    return true;
                } else {
                    conspan.html(errstr).css('color', 'red');
                    return false;
                }
            }

        };
        var receiveName = $('#receivemanname');//收件人名字
        var phone = $('#receivemanphone');//收件人电话
        var detailAddress = $('#addressdetail');//具体地址
        var select02 = $('#select02')//具体区县;

        var renamespan = $('#receivemannamespan1');//收货人提示框
        var rephone = $('#receivemanphonespan1');//收货人电话
        var rearea = $('#receivemanAreaIdspan1');//收货人地区
        var redetail = $('#receivemandetailspan1');//收货人具体地址
        var province = $('#select00');//收货人的省市
        var aressform = $('#aressform');//form表单
      //  $('#receivemannamespan1').html('收件人姓名格式不正确').css('color', 'red').css('font-size', '11px');
        //脚本验证 增加地址的是否输入正确
        receiveName.blur(function () {
            checkIsTrueOrFalse(/^[\u4e00-\u9fa5]{2,10}$/, renamespan, receiveName, '收货人姓名输入的格式不正确')
        });
        receiveName.keyup(function () {
            checkIsTrueOrFalse(/^[\u4e00-\u9fa5]{2,10}$/, renamespan, receiveName, '收货人姓名输入的格式不正确')
        });

        phone.focus(function () {
            if (renamespan.html()!='√') {
                phone.blur();
                receiveName.focus();
                renamespan.html('收货人名称格式不正确').css('color', 'red');
            }
        });
        var regstr = /^1[357869]\d{9}$/;
        phone.keyup(function () {

            if (regstr.test(phone.val())) {
                rephone.html('√').css('color', 'green');
            } else {
                rephone.html('手机号格式不正确').css('color', 'red');
            }
        });

        phone.blur(function () {

            if (regstr.test(phone.val())) {
                rephone.html('√').css('color', 'green');
            } else {
                rephone.html('手机号格式不正确').css('color', 'red');
            }
        });

        province.focus(function () {
            if (renamespan.html() != '√') {
                receiveName.focus();
                renamespan.html('收货人名称格式不正确').css('color', 'red');
            }else{
                if (rephone.html() != '√') {
                    phone.focus();
                    renamespan.html('手机号格式不正确').css('color', 'red');
                }
            }
        });


        select02.change(function () {

            if (renamespan.html() == '√' && rephone.html() == '√') {
                if (select02.val() != "" && select02.val()!=null && select02.val()>0) {
                    alert(select02.val());
                    rearea.html('√').css('color', 'green');
                  //  alert(select02.val());
                } else {
                    rearea.html('地区不能为空').css('color', 'red');
                }
            }

        });


        detailAddress.focus(function () {
            if (renamespan.html() != '√') {
                receiveName.focus();
                renamespan.html('收货人名称格式不正确').css('color', 'red');
                if (rephone.html() != '√') {
                    phone.focus();
                    renamespan.html('电话格式不对').css('color', 'red');

                    if (rearea.html() != '√') {
                        province.focus();
                        rearea.html('地区不能为空').css('color', 'red');
                    }
                }

            }
        });
        detailAddress.keyup(function () {
            checkIsTrueOrFalse(/^[\u4e00-\u9fa5a-zA-Z0-9]{4,}$/, redetail, detailAddress, '地址格式不对');
        });

        detailAddress.blur(function () {
            checkIsTrueOrFalse(/^[\u4e00-\u9fa5a-zA-Z0-9]{4,}$/, redetail, detailAddress, '地址格式不对');
        });


        aressform.submit(function () {
            if (renamespan.html() == '√') {

                if (rephone.html() == '√') {

                    if (rearea.html() == '√') {

                        if (redetail.html() == '√') {
                            return true;

                        } else {
                            detailAddress.focus();
                            redetail.html('地址格式不对').css('color', 'red');
                            return false;
                        }


                    } else {
                        province.focus();
                        rearea.html('地区不能为空').css('color', 'red');
                        return false;
                    }

                }else{
                phone.focus();
                renamespan.html('电话格式不对').css('color', 'red');
                return false;
               }
            } else {
                receiveName.focus();
                renamespan.html('收货人名称格式不正确').css('color', 'red');
                return false;
            }

        });

    </script>





    <div style='display:none' data-rel='Baidu Analytics'>
        <script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "https://hm.baidu.com/hm.js?8e1f31faa8383ed7a42a8e58efe4a621";
		  var s = document.getElementsByTagName("script")[0];
		  s.parentNode.insertBefore(hm, s);
		})();
        </script>
    </div>
</body>
</html>
