@using FilaShop.Models
@model Userinfo


<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>会员中心</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" async="" src="~/Scripts/analytics.js"></script>
    <script src="~/Scripts/hm.js"></script>
    <script src="~/Scripts/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

    <!--[if lt IE 9]>
    <script src="Scripts/html5fix.js" type="text/javascript" charset="utf-8" ></script>
    <![endif]-->

    <script async="" src="~/Scripts/d598c506fa4844ca83c0102bbae1acbd.js"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-111270368-1');
    </script>
    <script src="~/Scripts/jquery.icheck.min.js"></script>
    <link rel="stylesheet" href="~/Content/theme.css">
    <link rel="stylesheet" href="~/Content/global.css">
    <link rel="stylesheet" href="~/Content/styles.css">
    <link rel="stylesheet" href="~/Content/common_180905.css">
    <script src="~/Scripts/jquery.form.js"></script>
    <link rel="stylesheet" href="~/Content/flat.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-datetimepicker.min.css">
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.zh-cn.js"></script>
    <style>
        .showmesssagename{
            color:red;
            font-size:12px;
        }
        .showmesssagenick{
            color:red;
            font-size:12px;
        }
        .showmesssagepwd{
            color:red;
            font-size:12px;
        }

        .showright{
            width:15px;
            height:15px;
        }
        .updaeuser{
            display:none;
        }
    </style>
</head>
<body>

    <header class="fila-header">
        <div class="logo">
            <a href="~/Product/List">
                <img src="~/Images/fila_blue_150.png" alt="">
            </a>
        </div>
        <div class="fila-navbar">
            <div class="navbar-search">
                <input id="key" class="text" type="text" autocomplete="off" value="短袖">
                <button class="button" data-action="/list/?" onclick="location=$(this).attr('data-action')+'&keyword='+$('#key').val(); return false;">搜索</button>
            </div>
            <ul class="navbar-list">

                <li class="navbar-login">
                    <a href="/passport-login.html" target="_blank" title="登入">登入</a>
                </li>
                <li class="navbar-register">
                    <a href="/passport-signup.html" target="_blank" title="注册">注册</a>
                </li>
                <li class="navbar-user hidden">
                    <a href="/my-orders.html" target="_blank">
                        您好，
                        <span></span>
                    </a>
                </li>
                <li class="navbar-logout hidden">
                    <a href="/passport-logout.html" title="退出">退出</a>
                </li>
                <li class="navbar-cart dropdown">
                    <a class="dropdown-toggle" href="/cart.html" target="_blank">
                        <i class="icon icon-cart"></i>
                        <span class="cart-count hidden" id="cart-count"></span>
                    </a>
                    <ul class="dropdown-menu mini-cart" style="display:none;"></ul>
                </li>
                <li class="navbar-country">
                    <a href="#" target="_blank">
                        <i class="icon icon-country"></i>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <div class="container main-container main">
        <div class="my-main">
            <div class="row">
                <div class="col-xs-3 my-L">
                    <dl class="my-menu">
                        <dt>
                            会员中心
                        </dt>
                        <dd>
                            <ul class="nav nav-pills nav-stacked">
                                <li data-myaction="orders" class="mm-site_member-orders">
                                    <a href="~/User/CommandCenter">
                                        <span>全部订单</span>
                                    </a>
                                </li>
                                <li data-myaction="form" class="mm-site_member-form">
                                    <a href="#">
                                        <span>晒单评价</span>
                                    </a>
                                </li>
                                <li data-myaction="order" class="mm-site_member-order">
                                    <a href="#">
                                        <span>售后申请</span>
                                    </a>
                                </li>
                                <li data-myaction="request" class="mm-site_member-request">
                                    <a href="#">
                                        <span>售后处理列表</span>
                                    </a>
                                </li>
                                <li data-myaction="index" class="mm-site_member-index">
                                    <a href="#">
                                        <span>我的预约</span>
                                    </a>
                                </li>
                            </ul>
                        </dd>
                        <dt>
                            账户
                        </dt>
                        <dd>
                            <ul class="nav nav-pills nav-stacked">
                                <li data-myaction="setting" class="mm-site_member-setting active">
                                    <a href="~/User/Detail/@Model.Id">
                                        <span>会员信息</span>
                                    </a>
                                </li>
                                <li data-myaction="securitycenter" class="mm-site_member-securitycenter">
                                    <a href="#">
                                        <span>账户安全</span>
                                    </a>
                                </li>
                                <li data-myaction="exchange_coupon" class="mm-site_exchange-exchange_coupon">
                                    <a href="#">
                                        <span>积分商城</span>
                                    </a>
                                </li>
                                <li data-myaction="integral" class="mm-site_member-integral">
                                    <a href="#">
                                        <span>我的积分</span>
                                    </a>
                                </li>
                                <li data-myaction="favorite" class="mm-site_member-favorite">
                                    <a href="#">
                                        <span>我的收藏</span>
                                    </a>
                                </li>
                                <li data-myaction="coupon" class="mm-site_member-coupon">
                                    <a href="#">
                                        <span>我的优惠券</span>
                                    </a>
                                </li>
                                <li data-myaction="message" class="mm-site_member-message">
                                    <a href="#">
                                        <span>我的消息</span>
                                    </a>
                                </li>
                                <li data-myaction="index" class="mm-site_member-index">
                                    <a href="#">
                                        <span>增票资质</span>
                                    </a>
                                </li>
                                <li data-myaction="receiver" class="mm-site_member-receiver">
                                    <a href="~/Address/List/@Model.Id">
                                        <span>收货地址管理</span>
                                    </a>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <div class="col-xs-9 my-page">
                    <div class="myinfo-wrap">
                        <div class="page-header">
                            <h1>会员信息</h1>
                        </div>
                        <form id="member_setting_form" class="form-horizontal" action="/User/Update" method="post">
                            <table class="table info-table">
                                <tr>
                                    <td width="150" class="text-center">
                                        <img class="img-thumbnail img-circle" width="100" height="100" src="~/Images/d2827718db427c364b5d724ece3ecd2b.jpg" alt="17621989302头像" />
                                        <div class="mt20">
                                            <a href="#" class="theme-btn">设置头像</a>
                                        </div>
                                    </td>
                                    <td class="showuser">

                                        <p>
                                            <label class="title"><span style="color:red;">*</span>用户名:</label>@Model.Username
                                            
                                        </p>
                                        <p>
                                            <label class="title"><span style="color:red;">*</span>昵称:</label>@Model.Nickname
                                            
                                        </p>
                                        
                                        <p>
                                            <label class="title">等级:</label>
                                            <!-- <a href="/my-explog.html"> -->
                                            <span style="text-decoration: underline;">注册会员</span>
                                            <!-- </a> -->
                                        </p>
                                        <!--  -->



                                        <div class="form-group mt40">
                                            <label class="title"></label>
                                            <button type="button" class="theme-btn animated fadeInUp  updateUserbtn">编辑</button>
                                        </div>

                                    </td>
                                    <td class="updaeuser">
                                        
                                        <p>
                                            <label class="title"><span style="color:red;">*</span>用户名:</label>
                                            <input type="hidden" name="Id" value="@Model.Id" /> 
                                            <input type="text" id="name-form-control" class="form-control name-form-control" name="Username" value="@Model.Username" placeholder="填写用户名" required>
                                        <span class="showmesssagename">@ViewBag.message</span>
                                        </p>
                                        <p>
                                            <label class="title"><span style="color:red;">*</span>昵称:</label>
                                            <input type="text" id="nickname-form-control" class="form-control name-form-control" name="Nickname" value="@Model.Nickname" placeholder="填写昵称" required>
                                        <span class="showmesssagenick"></span>
                                        </p>
                                        <p>
                                            <label class="title">密码:</label>
                                            <input type="password" id="pwd-form-control" class="form-control name-form-control" name="uPassword" value="@Model.Password" placeholder="填写密码" required>
                                            <span class="showmesssagepwd"></span>
                                        </p>
                                        
                                       
                                        <p>
                                            <label class="title">等级:</label>
                                            <!-- <a href="/my-explog.html"> -->
                                            <span style="text-decoration: underline;">注册会员</span>
                                            <!-- </a> -->
                                        </p>
                                        <!--  -->
                                       
                                        
                                       
                                        <div class="form-group mt40">
                                            <label class="title"></label>
                                            <button type="submit"  class="theme-btn animated fadeInUp">保存修改</button>
                                        </div>

                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>

                   
                </div>
            </div>
        </div>
    </div>

    <footer class="fila-footer clearfix">
        <div class="ft-left fl">
            <ul class="link-list">
                <li>
                    <a href="/n-20.html" target="_blank">购物服务</a>
                </li>
                <li>
                    <a href="/history.html" target="_blank">关于品牌</a>
                </li>
                <li>
                    <a href="/shop.html" target="_blank">查找门店</a>
                </li>
            </ul>
            <div class="ft-follow">
                <span>关注FILA的官方媒体:</span>
                <a class="ft-sina" href="http://weibo.com/fila2010?refer_flag=1001030101_" target="_blank"></a>
                <a class="ft-weixin">
                    <div class="ft-weixin-tip">
                        <img src="~/Images/weixin0525.jpg">
                    </div>
                </a>
            </div>
            <div class="ft-service">
                <span>售后服务电话: 400-886-7699</span>
            </div>
        </div>
        <div class="ft-right fr">
            <span>&copy;FILA体育&nbsp;闽ICP备11020421号-8</span>
        </div>
    </footer>
    <div class="fixed-toolbar">
        <a class="fixed-service" onclick="xiaoneng_isExitsFunction();" href="javascript:;">客服</a>
    </div>
    <script src="Scripts/header_180905.js"></script>
   
    <div style="display:none" data-rel="Baidu Analytics">
        <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?8e1f31faa8383ed7a42a8e58efe4a621";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
        </script>
        
        <script>
            $('.updateUserbtn').click(function () {
                $('.showuser').hide();
                $('.updaeuser').show();
            });



            var rename = $('#name-form-control');  //用户名
            var Textrepwd = $('#pwd-form-control');//密码
            var textnickname = $('#nickname-form-control');  //昵称

            var renamespan = $('.showmesssagename');  // 用户名输入框提示信息
            var Textrepwdspan = $('.showmesssagepwd'); //密码输入框提示信息
            var nicknamespan = $('.showmesssagenick'); //昵称输入框提示信息

            rename.blur(function () {
                if (checkIsTrueOrFalse(/^[a-zA-Z0-9_-]{4,12}$/, renamespan, rename, '用户名输入的格式不正确')) {

                    $.get('/User/CheckUserName', { 'Username': rename.val() }, function (data) {
                        $(data).each(function (i, e) {
                            if (e.Name != null) {
                                // alert(e.Name);
                                renamespan.html('用户名已经存在').css('color', 'red');
                                rename.focus();
                            }

                        });
                    });
                }
            });
            rename.keyup(function () {
                if (checkIsTrueOrFalse(/^[a-zA-Z0-9_-]{4,12}$/, renamespan, rename, '用户名输入的格式不正确')) {

                    $.get('/User/CheckUserName', { 'Username': rename.val() }, function (data) {
                        $(data).each(function (i, e) {
                            if (e.Name != null) {
                                // alert(e.Name);
                                renamespan.html('用户名已经存在').css('color', 'red');
                                rename.focus();
                            }

                        });
                    });
                }
                
            });

            Textrepwd.focus(function () {
                if (checkIsTrueOrFalse(/^[a-zA-Z0-9_-]{4,12}$/, renamespan, rename, '用户名输入的格式不正确') && renamespan.html() == '正确') {
                    checkIsTrueOrFalse(/^[a-zA-Z0-9_-]{6,14}$/, Textrepwdspan, Textrepwd, '密码输入的格式不正确');
                } else {
                    rename.focus();
                }
            });
            Textrepwd.keyup(function () {
                if (checkIsTrueOrFalse(/^[a-zA-Z0-9_-]{4,12}$/, renamespan, rename, '用户名输入的格式不正确')) {
                    checkIsTrueOrFalse(/^[a-zA-Z0-9_-]{6,14}$/, Textrepwdspan, Textrepwd, '密码输入的格式不正确');
                }
            });
            Textrepwd.blur(function () {
                if (checkIsTrueOrFalse(/^[a-zA-Z0-9_-]{4,12}$/, renamespan, rename, '用户名输入的格式不正确')) {
                    checkIsTrueOrFalse(/^[a-zA-Z0-9_-]{6,14}$/, Textrepwdspan, Textrepwd, '密码输入的格式不正确');
                }
            });


            textnickname.blur(function () {
                if (checkIsTrueOrFalse(/^[a-zA-Z0-9_-]{4,12}$/, renamespan, rename, '用户名输入的格式不正确')) {
                    if (checkIsTrueOrFalse(/^[a-zA-Z0-9_-]{6,14}$/, Textrepwdspan, Textrepwd, '密码输入的格式不正确')) {
                        
                    } else {
                        Textrepwd.focus();
                    }

                } else {
                    rename.focus();
                }
            });

            textnickname.keyup(function () {
                checkIsTrueOrFalse(/^[\u4e00-\u9fa5]{2,10}$/, nicknamespan, textnickname, '昵称输入的格式不正确');
            });
            textnickname.focus(function () {
                if (checkIsTrueOrFalse(/^[a-zA-Z0-9_-]{4,12}$/, renamespan, rename, '用户名输入的格式不正确')) {
                    if (checkIsTrueOrFalse(/^[a-zA-Z0-9_-]{6,14}$/, Textrepwdspan, Textrepwd, '密码输入的格式不正确')) {
                        

                    } else {
                        Textrepwd.focus();
                    }

                } else {
                    rename.focus();
                }

            });




            function checkIsTrueOrFalse(regstr, conspan, coninput, errstr) {
                if (coninput.val().length == 0) {
                    conspan.html('不能为空').css('color', 'red');
                } else {
                    if (regstr.test(coninput.val())) {
                        conspan.html('正确').css('color', 'green');
                        return true;
                    } else {
                        conspan.html(errstr).css('color', 'red');
                        return false;
                    }
                }

            };




            var formid = $('#member_setting_form');
            formid.submit(function () {
                if (checkIsTrueOrFalse(/^[a-zA-Z0-9_-]{4,12}$/, renamespan, rename, '用户名输入的格式不正确')) {
                    if (checkIsTrueOrFalse(/^[a-zA-Z0-9_-]{6,14}$/, Textrepwdspan, Textrepwd, '密码输入的格式不正确')) {

                        if (checkIsTrueOrFalse(/^[\u4e00-\u9fa5]{2,10}$/, nicknamespan, textnickname, '昵称输入的格式不正确')) {

                            return true;
                        } else {
                            textnickname.focus();
                            return false;
                        }

                    } else {
                        Textrepwd.focus();
                        return false;
                    }

                } else {
                    rename.focus();
                    return false;
                }




            });

        </script>




    </div>
</body>
</html>
